
  
  <h1>Register for SherlockDocs</h1>
  

<%= form_for(resource, 
  :as => resource_name, 
  :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="field labels-x">
    <%= f.label :company_name, 'Company Name :' %>
    <div class="boxfield">
      <%= f.text_field :company_name, :class => 'txtfield txtfield-wide', :tabindex => 0 %>
    </div>
  </div>

  <div class="field labels-x">
    <%= f.label :email, 'Email :' %>
    <div class="boxfield">
      <%= f.email_field :email, :class => :txtfield, :tabindex => 1 %>
    </div>
  </div>    
  
  <div class="midleft labels-x">

    <br/>
    
    <div class="field">
      <%= f.label :password, 'Password :' %>
      <div class="boxfield">
        <%= f.password_field :password, :class => :txtfield, :tabindex => 2 %>
      </div>
    </div>
    
    <br/>
    
    <div class="field">
      <%= f.label :first_name, 'First Name :' %>
      <div class="boxfield">
        <%= f.text_field :first_name, :class => :txtfield, :tabindex => 4 %>
      </div>
    </div>
    
    <%= f.fields_for :user_address do |address| %>
    
      <div class="field">
        <%= address.label :address, 'Address :' %>
        <div class="boxfield">
          <%= address.text_field :address, 
              :class => :txtfield, :tabindex => 6 %>
        </div>
      </div>

      <div class="field">
        <%= address.label :state, 'State :' %>
        <div class="rich-dropdown-wrapper rich-dropdown-wrapper-x">
          <%= address.select :state, states_options, {},              
              'data-show-rows' => 7,
              :tabindex => 8 %>              
        </div>
      </div>

      <div class="field">
        <%= address.label :zip, 'ZIP :' %>
        <div class="boxfield">
          <%= address.text_field :zip, 
              :class => :txtfield, :tabindex => 10 %>
        </div>
      </div>
    
    <% end %>
    
  </div>

  <div class="midright labels-x" style="margin-right:0em;width: 383px;">
    
    <br/>
    
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password :' %>
      <div class="boxfield">
        <%= f.password_field :password_confirmation, 
            :class => :txtfield, :tabindex => 3 %>
      </div>
    </div>

    <br/>
    
    <div class="field">
      <%= f.label :first_name, 'Last Name :' %>
      <div class="boxfield">
        <%= f.text_field :last_name, :class => :txtfield, :tabindex => 5 %>
      </div>
    </div>
    
    <%= f.fields_for :user_address do |address| %>

      <div class="field">
        <%= address.label :city, 'City :' %>
        <div class="boxfield">
          <%= address.text_field :city, :class => :txtfield,
              :tabindex => 7 %>
        </div>
      </div>

      <div class="field">
        <%= address.label :country, 'Country :' %>        
        <div class="rich-dropdown-wrapper rich-dropdown-wrapper-x">
          <%= address.select :country, countries_options, {},             
              :tabindex => 9 %>
        </div>        
      </div>

      <div class="field">
        <%= address.label :phone, 'Phone :' %>
        <div class="boxfield">
          <%= address.text_field :phone, :class => :txtfield, 
              :tabindex => 11 %>
        </div>
      </div>

    <% end %>
  
  </div>

  <div class="labels-x">
  
    <div class="actions" style="padding-top:2em; padding-bottom:2em;">
      <%= f.submit "Register", :class => :button, :tabindex => 12 %>
      <%= link_to 'Login', new_user_session_path, :tabindex => 13 %>
    </div>
  
  </div>
    
<% end %>
  
  <script type="text/javascript">
    $(function() {
      SHERLOCK.focusOnField($('#<%= resource_name %>_company_name'));      
      _kmq.push(['record', 'viewed signup form']);
    });
  </script>
