<p id="notice"><%= notice %></p>

<p>
  <b>All pages:</b>
  <%= @footer.all_pages %>
</p>

<p>
  <b>Link:</b>
  <%= @footer.link %>
</p>

<p>
  <b>Alignment:</b>
  <%= @footer.alignment %>
</p>

<p>
  <b>Bgcolor:</b>
  <%= @footer.bgcolor %>
</p>

<p>
  <b>Border:</b>
  <%= @footer.border %>
</p>

<p>
  <b>Font face:</b>
  <%= @footer.font_face %>
</p>

<p>
  <b>Font size:</b>
  <%= @footer.font_size %>
</p>

<p>
  <b>Font color:</b>
  <%= @footer.font_color %>
</p>

<p>
  <b>Divider above:</b>
  <%= @footer.divider_above %>
</p>

<p>
  <b>Divider:</b>
  <%= @footer.divider %>
</p>

<p>
  <b>Divider width:</b>
  <%= @footer.divider_width %>
</p>

<p>
  <b>Divider color:</b>
  <%= @footer.divider_color %>
</p>

<p>
  <b>Contents:</b>
  <%= @footer.contents %>
</p>

<p>
  <b>Text align:</b>
  <%= @footer.text_align %>
</p>

<p>
  <b>Divider below:</b>
  <%= @footer.divider_below %>
</p>


<%= link_to 'Edit', edit_footer_path(@footer) %> |
<%= link_to 'Back', footers_path %>
