<%= form_for(@text_snippet) do |f| %>
  
  <%= render 'shared/form_errors', :errors => @text_snippet.errors %>    
  
  <div class="field">
    <%= f.label :title, 'Title :' %>
    <div class="boxfield">
      <%= f.text_field :title, :class => 'txtfield txtfield-wide' %>
    </div>
  </div>

  <div class="field">    
      <%= f.label :body, 'Body :', :class => :inline %>
      <div class="textarea-99">
        <%= f.text_area :body, :rows => 20 %>
      </div>
  </div>

  <div class="actions no-margin">
    <%= f.submit "Save", :class => :button %>
    <% if @text_snippet.id %>
      <%= link_to 'Cancel', @text_snippet %>
    <% else %>
      <%= link_to 'Cancel', text_snippets_path %>
    <% end %>
  </div>

<% end %>

<%= render 'shared/tinymce' %>

<script type="text/javascript">
  $(function() {
    tinyMCE.execCommand('mceAddControl', false, 'text_snippet_body');
  });
</script>
