<div class="set-one">
  <div class="leftbox"><%= label %> Text</div>
  <div class="rightbox">
    <div class="line">
      <%= f.text_area :contents, :class => :areatxt, 
        :style => 'text-align:' + f.object.text_align + ';' +
                  'height:' +  initial_text_size(f.object).to_s + 'px;' +
                  'font-size:' + f.object.font_size.to_s + 'px;' +
                  'font-family:' + f.object.font_face.to_s + ';' + 
                  'background-color:' + f.object.bgcolor.to_s + ';' +
                  'color:' + f.object.font_color.to_s + ';' %>            
    </div>
    <div class="linelast">
      <div class="lineleft2">Align Text </div>
      <div class="styled-select2 text-align">
        <%= f.select :text_align, text_align_options, :class => :listtxt2 %>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {    
    var textarea = $('#<%= name %>_contents');    
    $('textarea').autoResize({
      extraSpace: <%= (f.object.font_size * 1.4).to_i %>
    });    
    $('.text-align select').change(function() {
      var parent = $(this).parents('.set-one:first');
      var alignment = $(this).val();
      textarea = $('textarea', parent);
      textarea.css('text-align', alignment);      
  });
});
</script>