<div style="position:absolute;bottom:8px;right:0;">
  <small>
    <%= link_to 'Create New Case', new_case_path %> |
    <%= link_to 'Preview', case_preview_path(@case), :class => 'link-preview' %>    |
    <%= link_to 'Share', new_case_invitation_path(@case), :class => 'link-invite' %>    |
    <%= link_to 'Get PDF', report_path(@case.id) %>    |
    <%= link_to 'Delete', @case, 
               :confirm => 'Are you sure you want to remove this case?', 
               :method => :delete %>               
  </small>
</div>