<div class="case-small-icons">
  
  <% if single_case %>  
    <%= link_to 'Create new case', new_case_path,
              :title => 'Create New Case',
              :class => 'icon icon-plus' %>   
  <% end %>
  
  <%= link_to 'Preview', case_preview_path(c), 
              :title => 'Preview Report',
              :class => 'icon icon-eye-open' %>  
  
  <%= link_to 'Get PDF', report_path(c.id), 
      :class =>'icon icon-pdf', 
      :title => 'Download as PDF' %>    
  
  <%= investigators_only do %>
  
    <%= link_to 'Share', new_case_invitation_path(c), 
        :title => 'Share Report with a Client',
        :class => 'icon icon-envelope' %>    

    <%= link_to 'Delete', c, 
         :title => 'Delete this case',
         :confirm => 'Are you sure you want to remove this case?', 
         :method => :delete,
         :class => 'icon icon-trash' %>
  
  <% end %>
  
    
</div>      
        