<%= form_for(@case) do |f| %>

  <div><%= f.label :title %><br />
  <%= f.text_field :title %></div>

  <div><%= f.label :summary %><br />
  <%= f.text_area :summary, :rows => 5 %></div>

  <div><%= f.submit "Sign in" %></div>

<% end %>