<div class="midright"> 
  <div class="inbox-hd">Other Page Options</div>
      
  <%= link_to 'Customize Footer for this report', footer_path(@case), 
      :title => 'Customize Footer for this report' %>
    
  <h2 style="clear:both;padding-top:0em;">CLIENTS AUTHORIZED TO VIEW REPORT</h2>
     
  <% if @case.viewers.empty? %>
    No client is authorized to see this report at the moment.
    <div style="margin-top:2px;">
    <%= link_to 'Do you want to share it?', 
        new_case_invitation_path(@case) %>
    <%= link_to 'Share Report with a Client', 
        new_case_invitation_path(@case), 
        :title => 'Share Report with a Client',
        :class => 'icon icon-envelope' %>
    </div>
    
  <% else %>  
    <ul class="authorized-viewers">
    <% @case.viewers.each do |viewer| %>
      <% if @case.author.clients.include?(viewer) %>
        <li>
          <%= link_to viewer.full_name, client_path(viewer), 
              :title => 'See ' + viewer.full_name + ' profile' %>
        </li>
      <% end %>
    <% end %>
    </ul>
    
    <div style="margin-top: 0.5em;">      
      <%= link_to 'Share Report with a Client', 
        new_case_invitation_path(@case), 
        :title => 'Share Report with a Client',
        :class => 'icon icon-envelope' %>
      <%= link_to 'Invite another client', 
        new_case_invitation_path(@case) %>    
    </div>
    
  <% end %>
    
  <h2 
    class="coming-soon"
    style="clear:both;padding-top:0.5em;">PRIVATE NOTES</h2>
  
  You haven't created any notes yet.
    
</div>