<div class="midleft" style="position:relative;">
            
    <div class="inbox-hd">
      Page Information
    </div>   
  
    <%= form_for caze do |f| %>

      <div style="position:absolute;top:8px;right: 10px;">
        <%= f.submit 'Save', :class => 'link', :title => 'Save Changes' %>
      </div>
            
      <div class="field">
        <%= f.label :client_name, 'Client Name :' %>
        <div class="boxfield">
          <%= f.text_field :client_name, 
                           :class => 'txtfield hint', 
                           :title => 'not required' %>          
        </div>
      </div>
      <div class="field">
        <label>Type of Case :</label>
        <div class="boxfield">
          <input type="text" class="txtfield hint" 
                 title="not required"/>
        </div>
      </div>
      <div class="field">
        <%= f.label :number, 'Case Number :' %>
        <div class="boxfield">
          <%= f.text_field :number,
                           :class => 'txtfield hint',
                           :title => 'not required, can be alphanumeric' %>          
        </div>
      </div>
      <div class="field">
        <%= f.label :opened_on, 'Start Date :' %>
        <div class="boxfield">
          <%= f.text_field :opened_on,
                           :class => 'txtfield hint datepicker',
                           :title => 'optional' %>          
        </div>
      </div>
      <div class="field">
        <%= f.label :opened_on, 'End Date :' %>
        <div class="boxfield">
          <%= f.text_field :closed_on,
                           :class => 'txtfield hint datepicker',
                           :title => 'optional, must be after start date' %>          
        </div>        
      </div>
      
      <div class="field">
        <label>Report Date :</label>
        <div class="boxfield">
          <input type="text" class="txtfield hint datepicker" 
                 title="optional"/>
        </div>
      </div>
    
    <% end %>
    
    <script type="text/javascript">
    $(function() {
      $('.datepicker').datepicker({
        beforeShow: function(input, inst) {
          
          // activate the picker's border color
          $('#ui-datepicker-div').css('border-color', '#aaaaaa');
          
          if ($(input).hasClass('hinted')) {
            $(input).removeClass('hinted').val('');
          }        
        },
        onClose : function(dateText, inst) {
          var input = this;
          if ($(input).hasClass('hint')) {
            if (dateText == '') {
              $(input).val($(input).attr('title')).addClass('hinted');
            } else {
              //$(input).val(dateText);
            }
          }
        }
      });    
    });
    </script>    
</div>