<div class="midleft section-page-info" style="position:relative;">
            
    <%= form_for caze, :remote => true do |f| %>
  
    <div class="inbox-hd">
      Page Information
    </div>    

      <!--
      <div style="position:absolute;top:8px;left: 300px;">
        <%= f.submit 'Save', :class => 'link', :title => 'Save Changes' %>
      </div>
      -->  
      
      <div class="field">
        <%= f.label :client_name, 'Client Name :' %>
        <div class="boxfield">          
          <%= hidden_field_tag :client_name, f.object.client_name %>
          <%= f.text_field :client_name, 
                           :class => 'txtfield hint', 
                           :title => 'not required' %>        
        </div>
      </div>
      <div class="field">
        <label>Type of Case :</label>
        <div class="boxfield">                    
          <%= hidden_field_tag :case_type, f.object.case_type %>
          <%= f.text_field :case_type, :class => 'txtfield hint', 
                           :title => 'not required' %>          
        </div>
      </div>
      <div class="field">
        <%= f.label :number, 'Case Number :' %>
        <div class="boxfield">          
          <%= hidden_field_tag :number, f.object.number %>
          <%= f.text_field :number,
                           :class => 'txtfield hint',
                           :title => 'not required, can be alphanumeric' %>          
        </div>
      </div>
      <div class="field">
        <%= f.label :opened_on, 'Start Date :' %>
        <div class="boxfield">          
          <%= hidden_field_tag :opened_on, f.object.opened_on %>
          <%= f.text_field :opened_on,
                           :class => 'txtfield hint datepicker',
                           :title => 'optional' %>          
        </div>
      </div>
      <div class="field">        
        <%= f.label :closed_on, 'End Date :' %>
        <div class="boxfield">
          <%= hidden_field_tag :closed_on, f.object.closed_on %>
          <%= f.text_field :closed_on,
                           :class => 'txtfield hint datepicker',
                           :title => 'optional, must be after start date' %>          
        </div>        
      </div>
      
      <div class="field">
        <label>Report Date :</label>
        <div class="boxfield">
          <%= hidden_field_tag :report_date, f.object.report_date %>
          <%= f.text_field :report_date,
                           :class => 'txtfield hint datepicker',
                           :title => 'optional' %>          
        </div>
      </div>
  
    <%= case_author_only(caze) do %>      
      <div class="actions">
        <%= f.submit 'Save', :class => 'button', :title => 'Save Page Information' %>
      </div>      
    <% end %>
    
    <% end %>
    
    <script type="text/javascript">
    $(function() {
      $('.datepicker').datepicker({
        beforeShow: function(input, inst) {
          
          // activate the picker's border color
          $('#ui-datepicker-div').css('border-color', '#aaaaaa');
          
          if ($(input).hasClass('hinted')) {
            $(input).val('');
            SHERLOCK.utils.removeHinted($(input));
          }        
        },
        onClose : function(dateText, inst) {
          var input = this;
          if ($(input).hasClass('hint')) {
            if (dateText == '') {
              $(input).val($(input).attr('title'));
              SHERLOCK.utils.addHinted($(input));              
            } else {
              //$(input).val(dateText);
            }
          }
        }
      });    
    });
    </script>    
</div>