<h1>My Cases</h1>

<% if @cases.empty? %>
<h2>You haven't created any cases yet</h2>
<% else %>
  <ol class="cases">
    <% @cases.each do |c| %>
    <li>
        <%= link_to c.title, c %>
        <div class="summary" style="margin:1em 0;">
          <strong>Summary:</strong>
          <% if c.summary.blank? %>
              <em>None</em>
          <% else %>
              <%= c.summary.to_s.html_safe %>
          <% end %>
        </div>
        <div>
          <%= link_to 'View Case Details', c %> |
          <%= link_to 'Download as PDF', case_path(c, :format => :pdf) %> |
          <%= link_to 'Invite Clients to View', new_case_invitation_path(c) %> |
          <%= link_to 'Delete', c, 
               :confirm => 'Are you sure you want to remove this case?', 
               :method => :delete %>
        </div>
    </li>
    <% end %>
  </ol>
<% end %>

<div>
  <%= link_to 'Create a new Case', new_case_path %>
</div>

