<div class="breadcrumb">  
  <%= link_to 'Dashboard', dashboard_path %> / My Cases
</div>

<div id="my-cases-wrapper">
  <h1>My Cases</h1>

<%= investigators_only do %>
  
  <div style="position:absolute;right:235px;top:12px;">
    <%= link_to 'Create new folder', new_folder_path %>
  </div>
  
  <div class="link-buttons">
    <%= link_to 'Create a new Case', new_case_path, 
                :class => "button button-wide right" %>
  </div>  
<% end %>

</div>

<% if @cases.empty? && @folders.empty? %>
  <h2 style="margin-bottom:0;">No cases found</h2>
<% else %>

  <ul class="case-icons-list">
    <% @folders.each do |f| %>
      <%= render 'folders/folder', :folder => f %>
    <% end %>
    <% @cases.each do |c| %>
      <%= render 'case_icon_block', :c => c %>
    <% end %>
  </ul>

  <% if false %>
  <ol class="cases">
    <% @cases.each do |c| %>
    <li style="clear:both;">
            
        <h2 style="margin-bottom:0.5em;"><%= link_to c.title, c %></h2>                
      
        <%= render 'case_small_icons', :c => c, :single_case => false %>
                
        <%= render 'summary', :c => c if false %>
        
        <%= render 'list_buttons', :c => c if false %>
        
    </li>
    <% end %>
  </ol>
  <% end %>

  
<% end %>
  
<script type="text/javascript">
  $(function() {
    _kmq.push(['record', 'viewed cases list']);
    SHERLOCK.cases.initCasesList();    
  });
</script>

