<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @case.title %> - Preview</title>
  <style type="text/css">
    
    body {
      font-family: Georgia;
      font-size: 18px;
    }
    
    h4 {
      margin-top: 0.5em;
    }
    
    #header {
      margin-top:5px;      
      padding:2px;
      position:relative;
    }
    
    #logo-wrapper {
      position: absolute;
    }
    
    div#header hr, div#footer hr {            
      border: none;
      clear: both;
      background-color: black;
    }
    
    .picture-block, .video-block {
      page-break-inside: avoid;
    }
    
    .video-block {
      margin: 1em 0;
    }
    
    h1 {
      clear: both;
      margin-top: 0;
      padding-top: 0.5em;
    }
    
  </style>
  
  <link href="/stylesheets/jplayer.pink.flag.css" 
        media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/javascript/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery.jplayer.js"></script>

</head>

<body>
  
<%= render 'letterheads/show', :kase => @case if @letterhead %>

<h1 style="<%= case_title_style(@case) %>"><%= @case.title %></h1>
<script type="text/javascript">
  //<![CDATA[  
  var textHeight = $('#letterhead-text').height();
  if (!textHeight) {
    textHeight = 0;
  }
  var logoHeight = $('#logo-wrapper').height();  
  if (!logoHeight) {
    logoHeight = 0;
  }
  var h = textHeight > logoHeight ? textHeight : logoHeight;
  if ( $('#header').height() < h) {
    $('#header').css('height', h);
  }
  //]]>
</script>

<h2>Summary</h2>

<p>
  <%= @case.summary.html_safe %>
</p>

<% @case.blocks.each do |block| %>
  <%= render 'blocks/preview', :block => block %>
<% end %>

<%= render 'footers/show', :footer => @case.footer if @case.footer %>

</body>
</html>