<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @case.title %> - Preview</title>
  <style type="text/css">
    h4 {
      margin-top: 0.5em;
    }
    
    div#header hr, div#footer hr {            
      border: none;
      clear: both;
      background-color: black;
    }
    
    .picture-block, .video-block {
      page-break-inside: avoid;
    }
    
    .video-block {
      margin: 1em 0;
    }
    
    h1 {
      clear: both;
    }
    
  </style>
  <link href="/assets/jplayer.pink.flag.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script type="text/javascript" src="/javascript/jquery.jplayer.min.js"></script>

<%= render 'letterheads/show' if @letterhead %>

<h1><%= @case.title %></h1>

<h2>Summary</h2>

<p>
  <%= @case.summary.html_safe %>
</p>

<% @case.blocks.each do |block| %>
  <%= render 'blocks/preview', :block => block %>
<% end %>

</body>
</html>