<div class="breadcrumb">
  <%= link_to 'Dashboard', root_path %> /
  <%= link_to 'My Cases', cases_path %> / <%= @case.title %>
</div>

<h1 style="position:relative;">
  <%= @case.title %>
  
  <div style="position:absolute;bottom:8px;right:0;">
    <small>
    <%= link_to 'Create New Case', new_case_path %> |
    <%= link_to 'Preview', case_preview_path(@case), :class => 'link-preview' %>    |
    <%= link_to 'Share', new_case_invitation_path(@case), :class => 'link-invite' %>    |
    <%= link_to 'Get PDF', case_path(@case, :format => :pdf) %>    |
    <%= link_to 'Delete', @case, 
               :confirm => 'Are you sure you want to remove this case?', 
               :method => :delete %>               
    </small>
  </div>
  
</h1>

<div>
  <%= render 'page_info', :caze => @case %>
  <%= render 'options' %>
</div>

<div style="clear:both;padding-top:2em;">
  <div style="position:relative;">
    <div class="inbox-hd">Title &amp; Summary</div>
    <div style="position:absolute;left:355px;top:10px;">
      <%= link_to 'Edit', edit_case_path(@case) %>
    </div>
  </div>
</div>

<h2><%= @case.title %></h2>

<p>
  <%= @case.summary.to_s.html_safe %>
</p>

<div class="inbox-hd" style="margin-top:1em;">Blocks</div>

<script type="text/javascript" src="/javascript/jquery.jplayer.min.js"></script>  

<div class="blocks-area">
  <% if @case.blocks.empty? %>
    <h3 class="no-blocks-msg">This case doesn't have any blocks yet</h3>
  <% else %>
    <%= render @case.blocks %>
  <% end %>
    
  <%= render 'blocks/form_insert' %>
    
  <div class="new-block"></div>
</div>
        
<div class="form-center" style="clear:both;padding-top:2em;">  
        
<div class="link-buttons" style="padding-left:5em;">
  <%= link_to 'Preview', case_preview_path(@case),
              :class => "link-preview button" %>
  <%= link_to 'PDF', case_path(@case, :format => :pdf),
              :class => "button" %>
</div>
  
</div>
  
<script type="text/javascript">
  SHERLOCK.urls = {
    new_block_text    : '<%= new_case_html_detail_path(@case) %>',
    new_block_picture : '<%= new_case_picture_path(@case) %>',
    new_block_video   : '<%= new_case_video_path(@case) %>'
  };
  $('.link-preview').attr('target', '_blank');
</script>
        
<div style="clear:both;">
  <%= render 'shared/tinymce' %>
</div>

