<h1>
  Case: <%= @case.title %>
  <small>
  [<%= link_to 'Delete', @case, 
               :confirm => 'Are you sure you want to remove this case?', 
               :method => :delete %>]
  </small>
</h1>

<%= link_to 'Back to Cases list', cases_path %> |
<%= link_to 'Download as PDF', case_path(@case, :format => :pdf) %>

<h2>Summary</h2>

<p>
  <%= @case.summary.to_s.html_safe %>
</p>

<div>
  <%= link_to 'Edit Title and Summary', edit_case_path(@case) %>
</div>

<h2>Blocks</h2>

<div class="blocks-area">
  
</div>

<h3>This case doesn't have any blocks yet</h3>

<a href="#" id="link-create-html-block">Add text block</a>

<%= render 'shared/tinymce' %>
