<%= render 'shared/tinymce' %>

<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Cases', cases_path %> / <%= @case.title %>
  
  <div style="float:right;">
    <%= render 'case_small_icons', :c => @case %>
  </div>
  
</div>

<h1 style="position:relative;">
  <%= @case.title %>
  
  <%= render 'case_upper_links' if false %>  
  
</h1>

<div>
  <%= render 'page_info', :caze => @case %>
  <%= render 'options' %>
</div>

<div style="clear:both;padding-top:2em;">
  <div style="position:relative;">
    <div class="inbox-hd">Title &amp; Summary</div>
    <div style="position:absolute;left:355px;top:10px;">
      <%= link_to 'Edit', edit_case_path(@case) %>
    </div>
  </div>
</div>

<h2 class="case-title" 
    style=""><%= @case.title %></h2>

<p>
  <%= @case.summary.to_s.html_safe %>
</p>

<div class="inbox-hd" style="margin-top:1em;">Blocks</div>

<script type="text/javascript" src="/javascript/jquery.jplayer.js"></script>

<div class="blocks-area">
    
  <% if @case.blocks.empty? %>
    <h3 class="no-blocks-msg">This case doesn't have any blocks yet</h3>
  <% else %>        
    <%= render @case.blocks %>
  <% end %>      
    
  <%= render 'blocks/form_insert' %>
    
  <div class="new-block"></div>
</div>
        
<div class="form-center" style="clear:both;padding-top:2em;">  
        
<div class="link-buttons" style="padding-left:5em;">
  <%= link_to 'Preview', case_preview_path(@case),
              :class => "link-preview button" %>
  <%= link_to 'PDF', case_path(@case, :format => :pdf),
              :class => "button" %>
</div>
  
</div>
  
<script type="text/javascript">
  SHERLOCK.urls = {
    new_block_text    : '<%= new_case_html_detail_path(@case) %>',
    new_block_picture : '<%= new_case_picture_path(@case) %>',
    new_block_video   : '<%= new_case_video_path(@case) %>'
  };
  $('.link-preview').attr('target', '_blank');  ;
  SHERLOCK.cases.initCasePage();
  
</script>        

