<h1>
  <%= link_to 'My Cases', cases_path %> >
  <%= @case.title %>
  
  <div style="float:right;">
    <small>
    <%= link_to 'Create New Case', new_case_path %> |
    <%= link_to 'Delete', @case, 
               :confirm => 'Are you sure you want to remove this case?', 
               :method => :delete %> |
    <%= link_to 'Download as PDF', case_path(@case, :format => :pdf) %>    
    </small>
  </div>
  
</h1>

<div>
  <%= render 'page_info' %>
  <%= render 'options' %>
</div>

<div style="clear:both;padding-top:1em;position:relative;">
  <div class="inbox-hd" style="">Title &amp; Summary</div>
  <div style="position:absolute;left:355px;top:23px;">
    <%= link_to 'Edit', edit_case_path(@case) %>
  </div>
</div>

<h2><%= @case.title %></h2>

<p>
  <%= @case.summary.to_s.html_safe %>
</p>

<div class="inbox-hd" style="margin-top:1em;">Blocks</div>

<script type="text/javascript" 
        src="<%= url_for root_url %>javascript/swfobject.js"></script>

<div class="blocks-area">
  <% if @case.blocks.empty? %>
    <h3>This case doesn't have any blocks yet</h3>
  <% else %>
    <%= render @case.blocks %>
  <% end %>
    
  <%= render 'blocks/form_insert' %>
    
  <div class="new-block"></div>
</div>
  
<%= link_to 'Add text block (AJAX)', 
    new_case_html_detail_path(@case), :class => 'block-add-ajax' %><br/>
<%= link_to 'Add text block', new_case_html_detail_path(@case) %><br/>
<%= link_to 'Add picture block', new_case_picture_path(@case) %><br/>
<%= link_to 'Add video block', new_case_video_path(@case) %><br/>

<%= render 'shared/tinymce' %>
