<%= form_for(resource, 
    :as => resource_name, :url => password_path(resource_name), 
    :html => { :method => :put, :class => 'form-center' }) do |f| %>
  
  <h1>Change your password</h1>  
  
  <%= devise_error_messages! %>  
  <%= f.hidden_field :reset_password_token %>

  <div class="labels-x">
  
  <div class="field">  
    <%= f.label :password, "New password" %>
    <div class="boxfield"> 
      <%= f.password_field :password, :class => :txtfield %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm password" %>
    <div class="boxfield">
      <%= f.password_field :password_confirmation, :class => :txtfield %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", :class => 'button button-wide' %>
  </div>
    
  </div>
    
  <script type="text/javascript">
    $(function() {
      $('#user_password').focus();
    });
  </script>
  
<% end %>
