<%= form_for(resource, 
             :as => resource_name,             
             :url => password_path(resource_name), 
             :html => { :method => :post, :class => 'form-center' }) do |f| %>

  <h1>Forgot your password?</h1>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'Email :' %>
    <div class="boxfield">   
      <%= f.email_field :email, :class => :txtfield %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Send reset password instructions", 
        :class => 'button button-wide' %>
  </div>
<% end %>
