
<div id="appletContainer" style="display:none;height:60px;"></div>

<script type="text/javascript">
  
    $(function() {      
      
      function normalizeDate(s)
      {
        s = ('' + s).replace(/[^0-9]/g, '');
        return s;
      }
      
      var video_path = '<%= file_video_path(@video, 'DUMMY') %>';      
      
      var video_id = <%= @video.id.to_i %>;
      var url_base_redirect = '<%= case_videos_path(@case) %>';
      var url_check = '<%= case_video_path(@case, @video.unique_code, :js) %>';
      var updated_at = normalizeDate('<%= @video.updated_at %>');
      var settings = {
        cache: false,
        dataType: 'json',
        success: function(data) {
          if (data && (normalizeDate(data.updated_at) != updated_at)) {
            
            if (video_id) {
              video_path = video_path.replace(/DUMMY$/, data.path);
            } else {              
            }
            var url_redirect = url_base_redirect + '/' + data.id + '/edit';
            location.href = url_redirect;            
          } else {
            setTimeout(checkVideo, 2000);
          }
        }
      };
      
      function checkVideo()
      {
        $.ajax(url_check, settings);
      }
      
      $('#btn-screen-capture').click(function() {           
        var container = $('#appletContainer');
        container.empty();
        {
          <% if @video.id %>
          var post_url = '<%= case_video_url(@case, @video) %>';
          <% else %>
          var post_url = '<%= case_videos_url(@case) %>';
          <% end %>
          var token = $('meta[name=csrf-token]').attr('content');
          var code = '<applet archive="<%= root_url %>SherlockScreen.jar?v=' + new Date().valueOf() + '" ' +
            'code="sherlockscreen.SherlockScreen.class" ' +
            'width="1" height="1" MAYSCRIPT>' +        
            '<param name="type" value="video"/>' +
            '<param name="token" value="' + token + '"/>' +
            '<param name="unique_code" value="<%= @video.unique_code %>"/>' +
            '<param name="cookie" value="<%= @cookie %>"/>' +            
            '<param name="insert_before_id" value="<%= @insert_before_id %>"/>' +
            '<param name="post_url" value="' + post_url + '"/>'+            
            '<param name="editor_url" value="<%= root_url %>SherlockEditor.jar"/>'+            
            '<param name="video_id" value="<%= @video.id.to_i %>"/>' +
            '</applet>';      
          container.html(code);        
          container.show();
          
          checkVideo();
          
         }
      });      
    });        
</script>
