
<%= render 'shared/form_errors', :errors => @video.errors %>

<%= form_for([@case, @video], 
    :html => { :enctype => 'multipart/form-data' }) do |f| %>

<input type="hidden" name="insert_before_id" 
       value="<%= @insert_before_id %>"/>

<div class="field">      
  <%= f.label :title, 'Title :' %>
  <div class="boxfield">
    <%= f.text_field :title, :class => 'txtfield txtfield-wide', :size => 100 %>
  </div>  
</div>

<div class="field">
  <%= f.label :alignment, 'Alignment :' %>
  <div class="styled-select-rounded-x">
    <%= f.select :alignment, video_alignment_options %>
  </div>
</div>

<%= f.hidden_field :unique_code unless @video.id %>

<% if @video.id %>

  <h4 class="label">Video :</h4>

  <div class="field-right">

    <div style="margin-top:1em;">
      <%= render 'videos/jplayer', :video => @video %>
    </div>

    <div style="margin:1em 0;" id="video-change-block">
      <input type="button" 
             class="button button-wide"
             id="btn-video-change" value="Change the Video"/>
      <a href="#" style="visibility:hidden;">Keep the existing video</a>
    </div>
  
  </div> 

  <div id="video-field-wrapper" style="display:none;">      
      
    
<% end %>

  <div>
    <label for="upload_video">Select Video :</label>
    
    <span class="btn fileinput-button">
      <%= file_field 'upload', 'video', 
          :title => 'Select video file to be uploaded' %>                      
          <span>
            <i class="icon-plus icon-white"></i>
            Browse...
          </span>
    </span>
    
    <strong>OR&nbsp;&nbsp;</strong>    
    <input type="button" value="Record Screencast" 
           id="btn-screen-capture"
           class="button button-wide"/>
  </div>      
    
  <%= render 'shared/java_detect', :func_name => 'video capture' %>
    
  <% if @video.id %>
</div>

<% end %>

<h4 class="label">Thumbnail :</h4>
<div class="field-right">  
  <% if @video.thumbnail %>  
    <img src="<%= file_video_path(@video, @video.thumbnail) %>"
         width="<%= @video.online_dims[0] %>"
         /> 
  <% end %>  
</div>

<% if @video.id %>
  
  <input type="hidden" name="keep_thumbnail" value="1"/>
  
  <div class="field-right" style="margin:5px 0;">
    <% if @video.thumbnail_method == :auto %>
    Thumbnail extracted from video, position <strong><%= @video.thumbnail_pos %>.</strong>
    <% else %>
    You have manually uploaded this thumbnail.
    <% end %>
    
    <div style="margin:5px 0;">
      <input type="button" 
             class="button button-wide"
             value="Change Thumbnail"
             id="btn-thumbnail-change"/>
      <span class="hidden">
        <a href="#" id="link-thumbnail-keep">Keep the current thumbnail</a>
      </span>
    </div>
    
  </div>
  <div id="block-thumbnail-change-wrapper"        
       style="display:none;">
<% end %>  
  
<div class="field-right">    
    
  <div id="block-thumbnail-method-auto">
    <%= f.radio_button :thumbnail_method, :auto %>
    <%= f.label :thumbnail_method_auto, 
        'generate automatically from clip', :class => :inline %>
    <span
      <% if @video.thumbnail_method == :manual %>
      class="hidden"
      <% end %>
      >
    - timecode 
    <%= f.text_field :thumbnail_pos, :size => 10 %>
    (HH:MM:SS.xxx)
    </span>
  </div>
  <div id="block-thumbnail-method-manual">
    <%= f.radio_button :thumbnail_method, :manual %>
    <%= f.label :thumbnail_method_manual, 
        'manually upload a thumbnail image', :class => :inline %>
    <div
      <% if @video.thumbnail_method == :auto %>
      class="hidden"
      <% end %>
      >
      <label for="upload_thumbnail">Select Thumbnail</label>
      <%= file_field 'upload', 'thumbnail' %>

    </div>
  </div>
    
</div>
    
<% if @video.id %>
  </div>
<% end %>

<div class="actions">
  <%= f.submit 'Save', :class => :button %>  
  <%= link_to 'Cancel', @case %>  
</div>

<% end %>

<script type="text/javascript">  
  
  $('form#new_video').submit(function() {
    SHERLOCK.utils.showAjaxLoading();    
    return true;
  });  
  
  $('#btn-thumbnail-change').click(function(e) {
    $('#block-thumbnail-change-wrapper').show();
    $('#link-thumbnail-keep').parent().removeClass('hidden');
    $('input[name=keep_thumbnail]').val('0');
    return false;
  });
  
  $('#link-thumbnail-keep').click(function(e) {
    $('#block-thumbnail-change-wrapper').hide();    
    $('input[name=keep_thumbnail]').val('1');
    $('#link-thumbnail-keep').parent().addClass('hidden');
    return false;
  });
  
  $('#video_thumbnail_method_auto').change(function(e) {
    var autoSpan = $('span', '#block-thumbnail-method-auto');
    var manualDiv = $('div', '#block-thumbnail-method-manual');
    if (!this.selected) {
      autoSpan.removeClass('hidden');
      manualDiv.addClass('hidden');
    } else {
      autoSpan.addClass('hidden');
      manualDiv.removeClass('hidden');
    }
  });
  $('#video_thumbnail_method_manual').change(function(e) {
    var autoSpan = $('span', '#block-thumbnail-method-auto');
    var manualDiv = $('div', '#block-thumbnail-method-manual');    
    if (this.selected) {
      autoSpan.removeClass('hidden');
      manualDiv.addClass('hidden');
    } else {
      autoSpan.addClass('hidden');
      manualDiv.removeClass('hidden');
    }
  });
  
  $('#video-change-block a').click(function(e) {
      $('#video-field-wrapper').hide();
      $('#video-change-block a').css('visibility', 'hidden');
      return false;
  });
  $('#btn-video-change').click(function(e) {
      $('#video-field-wrapper').show();
      $('#video-change-block a').css('visibility', 'visible');
  });
  $('#thumbnail-change-block a').click(function(e) {
      $('#thumbnail-field-wrapper').hide();
      $('#thumbnail-change-block a').css('visibility', 'hidden');
      return false;
  });  
  $('#btn-thumbnail-change').click(function(e) {
    $('#thumbnail-field-wrapper').show();
    $('#thumbnail-change-block a').css('visibility', 'visible');
  });
  
</script>
