
<h2>Case title: <%= @case.title %></h2>

<%= render 'shared/form_errors', :errors => @video.errors %>

<%= form_for([@case, @video], 
    :html => { :enctype => 'multipart/form-data' }) do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title, :size => 100 %>
</div>

<% if @video.id %>
  <div style="margin-top:1em;">
    <input type="button" 
           value="Change the Video"
           onclick="$('#video-field-wrapper').show();"/>
  </div>
  <div id="video-field-wrapper" style="display:none;">
<% end %>

  <div>
    <label for="upload_video">Select Video:</label>
    <%= file_field 'upload', 'video' %>        
  </div>
    
  <div>
    <label for="upload_video">
      Select Thumbnail:
    </label>
    <%= file_field 'upload', 'thumbnail' %>        
    <div style="font-style:italic;font-weight:normal;">
    Thumbnail's dimensions will be used as video dimensions 
    in the report.
    </div>        
  </div>
    
<% if @video.id %>
  </div>
<% end %>
    
<div class="actions">
  <%= f.submit 'Save' %>  
  <%= link_to 'Cancel', @case %>  
</div>

<% end %>