
<div id="jp_container_<%= video.id %>" class="jp-video" 
     style="width:<%= video.online_dims[0] %>px;position:relative;">
  <div class="jp-type-single">
    <div class="jp-jplayer"></div>
    <div class="jp-gui">
      <div class="jp-video-play">
        <a href="javascript:;" class="jp-video-play-icon" 
           style="margin-top:0;position:absolute;top:<%= video.online_dims[1] / 2 - 50 %>px;"
           tabindex="1">play</a>
      </div>
                <div class="jp-interface">

                        <div class="jp-progress">
                                <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                </div>
                        </div>
                        <div class="jp-current-time"></div>
                        <div class="jp-duration"></div>
                        <div class="jp-title">
                                <ul>
                                  <li><%= video.title %></li>
                                </ul>
                        </div>
                        <div class="jp-controls-holder">
                                <ul class="jp-controls">
                                        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>

                                        <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                                </ul>
                                <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value"></div>

                                </div>

                                <ul class="jp-toggles">
                                        <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
                                        <li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
                                        <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>

                                </ul>
                        </div>
                </div>
    </div>
    <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser 
            to a recent version or update your 
            <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var ancestor = '#jp_container_<%= video.id %>';  
  $(".jp-jplayer", ancestor).jPlayer({
    cssSelectorAncestor: ancestor,
    ready: function () {
      $(this).jPlayer("setMedia", {              
              //m4v: "http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",   
              //ogv: "http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
              //webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
              //poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"              
              flv : '<%= file_path('videos', video.flv_path) %>',
              m4v : '<%= file_path('videos', video.m4v_path) %>',
              //ogv : '/files/videos/bb2702a6d21685d193b7803dc93eaa7d-sample_video.ogv',
              poster: '<%= file_path('videos', video.thumbnail) %>'
      });
    },        
    size: {
      width: '<%= video.online_dims[0] %>px',
      height: '<%= video.online_dims[1] %>px',
      cssClass: 'sherlock-jplayer'
    },    
    swfPath: "/javascript/",
    //supplied: "webmv, ogv, m4v"
    //supplied: 'flv, m4v, ogv'
    supplied: 'flv, m4v'
  });
});

</script>