<div id="top-user-links">
  <% if signed_in? %>
    <div>
    <%= link_to 'Home', root_path %> | 
    <%= link_to 'Account', account_path %> | 
    <%= link_to 'My Cases', cases_path %> |
    <%= link_to 'Admin area', '/admin' %> |
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>  
    </div>
    <%= render 'shared/account_links' %>
  <% else %>
    <div>
    <%= link_to 'Login', new_user_session_path %> |
    <%= link_to 'Register', new_user_registration_path %>
    </div>
  <% end %>
</div>
