<div id="top-user-links">
  <div class="links-list">
    <% if signed_in? %>
      <%= link_to 'Home', root_path %> | 
      <%= link_to 'Account', account_path %> | 
      <%= link_to 'My Cases', cases_path %> |
      <%= link_to 'Admin area', '/admin' %> |
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>            
    <% else %>    
      <%= link_to 'Login', new_user_session_path %> |
      <%= link_to 'Register', new_user_registration_path %>    
    <% end %>
  </div>
  <% if signed_in? %>
    <%= render 'shared/account_links' %>
  <% end %>
</div>
