<div id="top-user-links">
  <div class="links-list">
  <% if signed_in? %>     
    <%= investigators_only do %>
      <%= render 'letterhead_link' %> |   
      <%= link_to 'Text Snippets', text_snippets_path %> |
    <% end %>
    <%= link_to 'My Cases', cases_path %> |    
    <%= investigators_only do %>
      <%= link_to 'Clients', clients_path %> |
      <%= link_to 'Employees', employees_path %> |
    <% end %>
    <%- if current_user.admin? %>
      <%= link_to 'Admin area', '/admin' %> |
    <%- end %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>      
  <% else %>    
    <%= link_to signup_link_label, new_user_registration_path %>
  <% end %>
  </div>
  <% if signed_in? %>
    <%= render 'shared/account_links' %>
  <% end %>
</div>
