<div id="top-user-links">
  <div class="links-list">
  <% if signed_in? %>     
    <%= investigators_only do %>
      <%= link_to 'Account', account_path %> |     
      <%= render 'letterhead_link' %> |    
    <% end %>
    <%= link_to 'My Cases', cases_path %> |    
    <%- if current_user.admin? %>
      <%= link_to 'Admin area', '/admin' %> |
    <%- end %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>      
  <% else %>    
    <%= link_to 'Login', new_user_session_path %> |
    <%= link_to 'Register', new_user_registration_path %>   
  <% end %>
  </div>
  <% if signed_in? %>
    <%= render 'shared/account_links' %>
  <% end %>
</div>
