<div class="breadcrumb">  
  <%= link_to 'Dashboard', dashboard_path %> / My Clients
</div>

<h1>My Clients</h1>

<div class="clients-list">

<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th style="width:17em;">Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th class="center" style="width:13em;">Last Signed On</th>
    </tr>
  </thead>  
  <tbody>
    <% @clients.each do |client| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td>
          <%= link_to client.email, client_path(client) %>
        </td>
        <td>
          <%= print_or client.first_name %>
        </td>
        <td>
          <%= print_or client.last_name %>
        </td>
        <td>
          <%= print_or client.phone %>
        </td>        
        <td style="text-align:center;">
          <%= print_date_or client.last_sign_in_at, 'never' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>