<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Clients', clients_path %> / <%= @client.full_name %>
</div>

<h1>Client: <%= @client.full_name %></h1>

<div class="client-detail-page">

<div style="float:left;width:49%;">
  <%= render 'clients/basic_info' %>    
</div>
  
<div style="float:left;width:49%;">
  <%= render 'clients/permissions' %>    
</div>
  
</div>