<div class="head">
    <div class="navi">
      <a href="<%= root_path %>">Home</a>|<a 
        href="<%= root_path %>#tour">Take a Tour</a>|<a 
        href="<%= pricing_path %>">Plans &amp; Pricing</a>|<a 
        href="<%= root_path %>#customers">Our Customers</a>|<a 
        href="<%= new_contact_message_path %>">Contact</a></div>
    <%= render 'home/navi_right' %>    
  </div>