<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Sherlock Docs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<%= render 'kissmetrics' %>

<link rel="stylesheet" href="/stylesheets/jplayer.pink.flag.css" type="text/css" media="screen"/>

<link rel="stylesheet" href="/public/css/style_vertical.css" type="text/css" media="screen"/>
<link rel="shortcut icon" href="/public/images/icon.jpg" type="image/x-icon" />

<%= javascript_include_tag "application" %>

<style type="text/css">
a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
span.reference {
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:13px;
	font-weight:bold;
}
span.reference a {
	color:#fff;
	text-shadow:1px 1px 1px #000;
	padding-right:20px;
}
span.reference a:hover {
	color:#ddd;
	text-decoration:none;
}

.white .jp-interface ul li {
    padding: 0;
}

.navigation {
  z-index: 5000;
}

</style>

</head>
<body>
  
<%= render 'landing_navigation' %>  
  
<div class="section black">
  
  <h1 class="landing-txt">“Reports write themselves with SherlockDocs”</h1>
  <h2 class="landing-txt2">The better way to get reports done</h2>
  
  <div id="midsection">
    <div class="mid-one">
      <div class="logoimg"><img src="/public/images/logo-landingpage.jpg" width="313" height="189" /></div>
      <div class="plansbtn"><a href="#pricing"><img src="/public/images/plans-and-pricing.jpg" width="273" height="44" alt="" border="0" /></a></div>
    </div>
    <div class="mid-two">
      <div class="boxone">
        <div class="btn"><img src="/public/images/1.jpg" width="25" height="22" /></div>
        Write or import some notes on your case</div>
      <div class="boxtwo">
        <div class="btn"><img src="/public/images/2.jpg" width="25" height="22" /></div>
        Capture or upload images, video, GPS<br />
        reports right off your screen. </div>
      <div class="boxone">
        <div class="btn"><img src="/public/images/3.jpg" width="25" height="22" /></div>
        Publish a PDF with video embedded <br />
        right in it and share with clients or on<br />
        your ipad with Courts </div>
    </div>
    <div class="mid-three">
      <div class="reportimg"><img src="/public/images/report.jpg" width="177" height="193" /></div>
      <div class="reporttxt">this report was made in minutes not hours</div>
    </div>
  </div>
  <div class="midwrapper">
    <div class="bottomtxt"><font style="color:#ff6f1d;">SherlockDocs</font> takes the pain out of dealing with video, images and text<br />
      the average PI is used to taking hours to create reports but <font style="color:#4289ca;">can now do it in minutes</font><br />
      <a class="txt" href="#">SherlockDocs starts at $9/month</a></div>
  </div>
</div>
    
<a class="anchor" name="tour"></a>
<div class="section white">
  <div id="security">
    
    <%= render 'tour_jplayer' if true %>
    
    <%= render 'tour_mediaplayer' if false %>        
       
  </div>
</div>

<a class="anchor" name="customers"></a>
<div class="section black">  
  <div id="security">
    <div class="testimonials"><span class="cus-name">Testimonials</span></div>
    <div class="customerbox">"<strong>With the new tools SherlockDocs provides I save an hour or more per report</strong>. I love it so far... it's been terrific. It cuts 3 or 4 steps out of my report writing process. My clients like the format of the reports and it's easy for them to create their own private account."
      <div class="customer-detail"><br />
<span class="cus-name">A.D. Janney</span><br />
        Central Investigations<br />
      </div>
    </div>
    <div class="customerbox"> "<strong>My clients get to view the report as soon as I'm done</strong> - no waiting to come into the office
I like the features - <strong>its fun to use</strong> - so easy to upload or capture photos and videos"
      <div class="customer-detail"><br />
<span class="cus-name">L. Carillo</span><br />
        Renault Investigations<br />
      </div>
    </div>
  </div>
</div>

<a class="anchor" name="security"></a>
<div class="section white">  
  <div id="security">
    <div class="security-txt">110% Commitment to Safety and Security</div>
    <div class="security-p"> Utilizing 256-bit SSL encryption by GoDaddy and the world-class server infrastructure of Amazon Web Services (AWS), Sherlock Docs ensures the absolute privacy of our users' data. Sherlock Docs incorporates the most advanced security solutions, giving you the same level of data protection and redundancy as an online bank. </div>
    <div class="security-body">
      <div class="box">
        <div class="box-image"><img src="/public/images/access-anywhere.png" alt="" width="71" height="71" /></div>
        <span class="box-head">Access Anywhere</span><br />
        <p>Sherlock Docs is always available for you to access no matter where you are in the world via all modern web browsers (Internet Explorer, Firefox, Safari, Chrome, etc).<br />
         </p>
      </div>
      <div style="margin-left:12px;" class="box">
        <div class="box-image"> <img src="/public/images/security.png" alt="" width="71" height="71" /></div>
        <span class="box-head">Online Security</span><br />
        <p>Your log in connection with Sherlock Docs is secure and encrypted using industry-leading SSL technology. The information stored in Amazon.com's S3 data centers is accessible only by SSL encrypted endpoints - meaning your data can't be viewed while being sent from your computer to Amazon's secure facilities.<br />
          Your data in Sherlock Docs is safer and more secure than with most online applications and is even safer than traditional offline storage.</p>
      </div>
      <div style="margin-left:12px;" class="box">
        <div class="box-image"><img src="/public/images/backup.png" alt="" width="71" height="71" /></div>
        <span class="box-head">Multiple Backups</span><br />
        <p>Sherlock Docs stores user data in Amazon.com's S3 data centers. Every report document uploaded and every word typed into Sherlock Docs is automatically and immediately copied to multiple backup locations worldwide. <br />
          Because backups are done instantly, the rare interruption at one location can be automatically resolved by accessing data at any other Amazon S3 data center location.</p>
      </div>
    </div>
  </div>
</div>
  

<a class="anchor" name="features"></a>
<div class="section black">
  <div id="security">
    <div class="featurelist"> <span class="cus-name">Features</span><br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Secure link for your clients - never worry about emailing confidential information<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Never lose your data - reports stored for as long as you keep your account at minimum level<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Put videos in PDF that your clients can play live in the report<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Capture video from any media player - never use video editing software again<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Access from anywhere - home, office, iPad<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Keep private notes of confidential information<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Unlimited users in your office<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Never pay for a software update again - your monthly payment will never change as long as <br />
      &nbsp;&nbsp;&nbsp; you keep your current plan<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Create folders for each client or by case type<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Never lose a clients file<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Clients have secure access without possibility of accessing your data<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;99.95% uptime<br />
      <img src="/public/images/bullet-icon.gif" alt="" width="15" height="13" />&nbsp;Additional feature - mute function on video helps with audio recording laws </div>
  </div>
</div>

<a name="pricing"></a>
<div class="section black">
  <div id="security">
    <div class="security-txt">
    <!--
    Plans &amp; Pricing
    -->
    Enter Name and Email to see plans and pricing
    </div>
    <div class="security-p">
      <%= render 'aweber1' if false %>
      <%= render 'aweber2' if false %>
      <%= render 'aweber2_inline' if true %>
    </div>
  </div>
</div>
<div id="bot-navi">
  <a target="_blank" href="<%= privacy_path %>">Privacy Policy</a> | 
  <a target="_blank" href="<%= tos_path %>">Terms of Service</a> | 
  <a target="_blank" href="<%= contact_path %>">Contact Us</a><br />
  &copy; Sherlock Docs 2012. All Right Reserved. </div>

<script type="text/javascript" src="/javascript/jquery.easing.1.3.js"></script> 

<script type="text/javascript">
  <%= kissmetrics_track do %>  
    _kmq.push(['record', 'viewed landing page']);
  <% end %>
  $(function() {
      $('ul.nav a').bind('click',function(event){                    
          var $anchor = $(this);
          var href = $anchor.attr('href');                    
          var jumpOffset = 0;                    
          if (href != '/') {
            var sel = 'a[name=' + href.substr(1) + ']';
            var jumpTo =  $(sel).next();
            jumpOffset = jumpTo.offset().top - 35;
          }                    

          $('html, body').stop().animate({
              scrollTop: jumpOffset
          }, 1500,'easeInOutExpo');
          /*
          if you don't want to use the easing effects:
          $('html, body').stop().animate({
              scrollTop: $($anchor.attr('href')).offset().top
          }, 1000);
          */
          event.preventDefault();                    
      });
  });
</script>

<%= render 'statcounter' %>
<%= render 'crazyegg' %>

</body>
</html>
