
<% content_for :head do %>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
<% end %>


    <div id="torn_paper_header" class="line">
      <div class="container_12">
        <div class="grid_12">
          <h1>
            CheckOut <em>SherlockDocs</em> Plans &amp; Pricing
          </h1>
          
          <p>Create Your Reports in Half the Time. Users have access to their reports forever.</p>
        </div>
      </div>
      
      <div class="torn_paper"></div>
    </div>
    
    <div id="content" class="line">
      <div class="container_12">
        
        <div id="pricing" class="line">
        
           <div id="plans">
            <div class="headings clearfix">
              <div class="unit">
                <h3>Corporate</h3>
                <h4><strong>$99</strong>/month</h4>
              </div>
              <div class="unit">
                <h3>Company</h3>
                <h4><strong>$59</strong>/month</h4>
              </div>
              <div class="unit">
                <h3>Agency</h3>
                <h4 class="popular"><strong>$29</strong>/month</h4>
              </div>
              <div class="unit">
                <h3>Independent</h3>
                <h4><strong>$14</strong>/month</h4>
              </div>
              <div class="lastUnit">
                <h3>Pay as you Go</h3>
                <h4><strong>$3</strong>/month</h4>
              </div>
            </div>
            
            <div class="data clearfix">
            
              <div class="unit">
                <ul>
                  <li class="reports reports_big">
                    <strong>60</strong>
                    <span class="item">reports/month</span>
                  </li>
                  <li>
                    <strong>$1</strong>
                    <span class="item">per additional report</span>
                  </li>
                  <li>
                    <strong>25GB</strong>
                    <span class="item">storage</span>
                  </li>
                  <li>
                    <strong>unlimited</strong>
                    <span class="item">clients, users and <br />PDF report uploads</span>
                  </li>
                  
                  <li class="border0">
                    <a rel="nofollow" href="<%= @url_plan3 %>" class="small_button small_button_brown"><span>Choose</span></a>
                  </li>
                </ul>
              </div>
              
              <div class="unit">
                <ul>
                  <li class="reports">
                    <strong>30</strong>
                    <span class="item">reports/month</span>
                    <em>43 reports to consider upgrade</em>
                  </li>
                  <li>
                    <strong>$2</strong>
                    <span class="item">per additional report</span>
                  </li>
                  <li>
                    <strong>12GB</strong>
                    <span class="item">storage</span>
                  </li>
                  <li>
                    <strong>unlimited</strong>
                    <span class="item">clients, users and <br />PDF report uploads</span>
                  </li>
                  
                  <li class="border0">
                    <a rel="nofollow" href="<%= @url_plan4 %>"  class="small_button small_button_brown"><span>Choose</span></a>
                  </li>
                </ul>
              </div>

              <div class="unit">
                <ul>
                  <li class="reports">
                    <strong>12</strong>
                    <span class="item">reports/month</span>
                    <em>21 reports to consider upgrade</em>
                  </li>
                  <li>
                    <strong>$3</strong>
                    <span class="item">per additional report</span>
                  </li>
                  <li>
                    <strong>5GB</strong>
                    <span class="item">storage</span>
                  </li>
                  <li>
                    <strong>unlimited</strong>
                    <span class="item">clients, users and <br />PDF report uploads</span>
                  </li>
                  
                  <li class="border0">
                    <a rel="nofollow" href="<%= @url_plan2 %>" class="small_button"><span>Choose</span></a>
                  </li>
                </ul>
              </div>
              
              <div class="unit">
                <ul>
                  <li class="reports">
                    <strong>5</strong>
                    <span class="item">reports/month</span>
                    <em>9 reports to consider upgrade</em>
                  </li>
                  <li>
                    <strong>$4</strong>
                    <span class="item">per additional report</span>
                  </li>
                  <li>
                    <strong>2GB</strong>
                    <span class="item">storage</span>
                  </li>
                  <li>
                    <strong>unlimited</strong>
                    <span class="item">clients, users and <br />PDF report uploads</span>
                  </li>
                  
                  <li class="border0">
                    <a rel="nofollow" href="<%= @url_plan1 %>"  class="small_button small_button_brown"><span>Choose</span></a>
                  </li>
                </ul>
              </div>
              
              <div class="unit">
                <ul>
                  <li class="reports reports_big">
                    <strong>No</strong>
                    <span class="item">reports included</span>
                  </li>
                  <li>
                    <strong>$5</strong>
                    <span class="item">per additional report</span>
                  </li>
                  <li>
                    <strong>1GB</strong>
                    <span class="item">storage</span>
                  </li>
                  <li>
                    <strong>unlimited</strong>
                    <span class="item">clients, users and <br />PDF report uploads</span>
                  </li>
                  
                  <li class="border0">
                    <a rel="nofollow" href="<%= @url_plan5 %>" class="small_button small_button_brown"><span>Choose</span></a>
                  </li>
                </ul>
              </div>
              
            </div>
           </div>
         
          <div class="huge_signup line padding30t">
            <a href="<%= new_user_registration_path %>" class="huge_button"><span>Create your first case now</span></a>
            
            <strong>30-day Free Trial - 3 reports, no credit card required.</strong>
            <em>Upgrade, downgrade, or cancel anytime. No long term contracts.</em>
          </div>

          
          <div class="img_authorize">
            <%= render 'authorize_net' %>
          </div>

          <div class="hr"></div>
          
        </div>
        
        <div id="faq" class="line">
          <h2>Frequently Asked Questions</h2>
          
          <ul>
            <li class="odd">
              <div class="line">
                <div class="unit">
                  <span class="number">1</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">How does the 30-day free trial work?</strong>
                </div>
                
                <p>You can create 3 free reports and share them with your clients. Once you try to create a fourth report you will be redirected to a sign up page to choose a plan. No obligation required to try this service out.</p>
              </div>
            </li>
            <li>
              <div class="line">
                <div class="unit">
                  <span class="number">2</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">Do I get a 30-day free trial if I upgrade?</strong>
                </div>
                
                <p>No.</p>
              </div>
            </li>
            <li class="odd">
              <div class="line">
                <div class="unit">
                  <span class="number">3</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">Can I change plans at any time?</strong>
                </div>
                
                <p>Yes, Change plans anytime - upgrade to the $29/month or $99/month plan or down grade to $14/month. </p>
              </div>
            </li>
            <li>
              <div class="line">
                <div class="unit">
                  <span class="number">4</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">Do I have to sign a long term contract?</strong>
                </div>
                
                <p>No long term requirements are ever required.</p>
              </div>
            </li>
            <li class="odd">
              <div class="line">
                <div class="unit">
                  <span class="number">5</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">Are there per-user fees?</strong>
                </div>
                
                <p>No per user fees. Have as many people in your office use this report as you want. However, only one logon per office is allowed.</p>
              </div>
            </li>
            <li>
              <div class="line">
                <div class="unit">
                  <span class="number">6</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">What types of payment do you accept?</strong>
                </div>
                
                <p>We accept all major credit cards.</p>
              </div>
            </li>
            <li class="odd">
              <div class="line">
                <div class="unit">
                  <span class="number">7</span>
                </div>
                <div class="lastUnit">
                  <strong class="question">How long will my clients have access to their reports?</strong>
                </div>
                
                <p>Unless you delete the report, your clients always will have access to their reports - we will not delete the report even if you cancel your account.</p>
              </div>
            </li>
          </ul>
          
          
        </div>
      
      </div>
    
    </div>

<%= kissmetrics_track do %>
<script type="text/javascript">  
    _kmq.push(['record', 'viewed pricing page']);  
</script>
<% end %>
