
<div id="pricing">
  <div class="pricing-txt">CheckOut SherlockDocs Plans & Pricing<br />
    <font style="color:#64881e;">
    First 5 reports free on All Accounts.
    </font></div>
  <div class="plans">
    <div class="plansbox">
      <div class="max-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:37px;">Max</font><br />
          Only<br />
          <font style="font-size:23px;">$99</font><br />
          per month<br />
        </p>
        <font style="color:#000; font-size:17px; text-align:center;">"for unlimited reports"</font> 
        <a class="fl" href="<%= new_user_registration_path %>"><img style="margin-top:10px;" src="/public/images/choose-plan2.jpg" width="156" height="56" alt="" border="0" /></a></div>
      <div class="premium-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:40px;">Premium</font><br />
          Only<br />
          <font style="font-size:18px;">$14.99</font><br />
          per month<br />
        </p>
        <font style="color:#000; font-size:17px; text-align:center;">“plus $4.99 per report”</font> 
        <a class="fl" href="<%= new_user_registration_path %>"><img style=" margin-top:10px;" src="/public/images/choose-plan1.jpg" width="171" height="61" alt="" border="0" /></a></div>
      <div class="basic-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:37px;">Basic</font><br />
          Only<br />
          <font style="font-size:19px;">$9.99</font><br />
          per report<br />
        </p>
        <br />
        <a class="fl" 
           href="<%= new_user_registration_path %>"><img style="margin-top:10px;" src="/public/images/choose-plan3.jpg" width="156" height="56" alt="" border="0" /></a></div>
    </div>
  </div>
  <div class="pricing-txt2"><a 
      id="link-signup-big"
      href="<%= new_user_registration_path %>"
      title="Sign up in 60 seconds">Sign up in 60 seconds.</a><br />
    Upgrade, downgrade, or cancel anytime.</div>
</div>
<div class="clr"></div>
<div id="midbox">
  <div class="midbox"> SherlockDocs is so simple that you can't do anything wrong.<br />
    SherlockDocs is addictively easy-to-use. </div>
  <div class="midwrapper">
    <div class="contract-btn"><img src="/public/images/contract-btn.jpg" width="247" height="34" /><br />
      <a class="txt" 
         href="<%= new_user_registration_path %>">SherlockDocs starts at $9.99/month</a> </div>
    <div class="inbox">
      <div class="inbox-part"><img src="/public/images/inbox-start-bg.jpg" width="1000" height="10" /></div>
      <div class="inbox-body how-it-works-body">
        <div class="sub-box">
          <h4>How does the 5 report free trial work?</h4>
          Simply sign up and create up to 5 reports. Experiment with the 
          reports for 30 days - change them, play with them, see what they can do.
          <br />
          <br />
          
          <h4>Do I get a 30-day free trial if I upgrade?</h4>
          No. 
          <br />
          <br />
          <br />
          
          <h4>Can I change plans at any time?</h4>
          Yes, Change plans anytime - upgrade to unlimited reports or 
          downgrade to $9.99/report.
        
        </div>
        <div style="margin-left:50px;" class="sub-box">
          <h4>Do I have to sign a long term contract?</h4>
          No long term requirements are ever required. <br />
          <br/>
          <br/>
          <h4>Are there per-user fees?</h4>
          No per user fees. Have as many people in your office use this report as you want.
          <br />
          <br />
          <h4>What types of payment do you accept?</h4>
          We accept all major credit cards and echeck.net payments.
        </div>
      </div>
      <div class="inbox-part"><img src="/public/images/inbox-end-bg.jpg" width="1000" height="10" /></div>
    </div>
    <div class="bottomtxt">SherlockDocs focus on <font style="color:#e75c0d;">simplicity,</font> <font style="color:#67911c;">clarity,</font> and <font style="color:#2670b0;">ease of use</font> make it truly unique.<br />
      You’ll love using SherlockDocs.</div>
  </div>
</div>
