
<div id="pricing">
  <div class="pricing-txt">CheckOut SherlockDocs Plans & Pricing<br />
    <font style="color:#64881e;">30-day Free Trial on All Accounts.</font></div>
  <div class="plans">
    <div class="plansbox">
      <div class="max-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:37px;">Max</font><br />
          Only<br />
          <font style="font-size:23px;">$99</font><br />
          per month<br />
        </p>
        <font style="color:#000; font-size:17px; text-align:center;">"for unlimited reports"</font> 
        <a class="fl" href="<%= new_user_registration_path %>"><img style="margin-top:10px;" src="/public/images/choose-plan2.jpg" width="156" height="56" alt="" border="0" /></a></div>
      <div class="premium-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:40px;">Premium</font><br />
          Only<br />
          <font style="font-size:18px;">$14.99</font><br />
          per month<br />
        </p>
        <font style="color:#000; font-size:17px; text-align:center;">“plus $4.99 per report”</font> 
        <a class="fl" href="<%= new_user_registration_path %>"><img style=" margin-top:10px;" src="/public/images/choose-plan1.jpg" width="171" height="61" alt="" border="0" /></a></div>
      <div class="basic-plan">
        <p><font style="font-family:'Bookman Old Style'; font-size:37px;">Basic</font><br />
          Only<br />
          <font style="font-size:19px;">$9.99</font><br />
          per report<br />
        </p>
        <br />
        <a class="fl" 
           href="<%= new_user_registration_path %>"><img style="margin-top:10px;" src="/public/images/choose-plan3.jpg" width="156" height="56" alt="" border="0" /></a></div>
    </div>
  </div>
  <div class="pricing-txt2"><a 
      id="link-signup-big"
      href="<%= new_user_registration_path %>"
      title="Sign up in 60 seconds">Sign up in 60 seconds.</a><br />
    Upgrade, downgrade, or cancel anytime.</div>
</div>
<div class="clr"></div>
<div id="midbox">
  <div class="midbox"> SherlockDocs is so simple that you can't do anything wrong.<br />
    SherlockDocs is addictively easy-to-use. </div>
  <div class="midwrapper">
    <div class="contract-btn"><img src="/public/images/contract-btn.jpg" width="247" height="34" /><br />
      <a class="txt" 
         href="<%= new_user_registration_path %>">SherlockDocs starts at $9.99/month</a> </div>
    <div class="inbox">
      <div class="inbox-part"><img src="/public/images/inbox-start-bg.jpg" width="1000" height="10" /></div>
      <div class="inbox-body">
        <div class="sub-box"><span style="color:#06758d;">How does the 30-day free trial work?</span><br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. <br />
          <br />
          <span style="color:#06758d;">Do I get a 30-day free trial if I upgrade?</span><br />
          Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros. <br />
          <br />
          <span style="color:#06758d;">Can I change plans at any time?</span><br />
          Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros. elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. </div>
        <div style="margin-left:50px;" class="sub-box"><span style="color:#06758d;">Do I have to sign a long term contract?</span><br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. <br />
          <br />
          <span style="color:#06758d;">Are there per-user fees?</span><br />
          Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros. <br />
          <br />
          <span style="color:#06758d;">What types of payment do you accept?</span><br />
          Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros. elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. </div>
      </div>
      <div class="inbox-part"><img src="/public/images/inbox-end-bg.jpg" width="1000" height="10" /></div>
    </div>
    <div class="bottomtxt">SherlockDocs focus on <font style="color:#e75c0d;">simplicity,</font> <font style="color:#67911c;">clarity,</font> and <font style="color:#2670b0;">ease of use</font> make it truly unique.<br />
      You’ll love using SherlockDocs.</div>
  </div>
</div>
