
<div class="block text" style="background-color:#efefef;padding:1em;margin:1em 0;">
  
  <div style="text-align:right;">
  <% if block.html_detail %>
    <%= link_to 'Edit', edit_case_html_detail_path(block.case, block.html_detail) %> |
  <% end %>
  <% if block.picture %>
    <%= link_to 'Edit', edit_case_picture_path(block.case, block.picture) %> |
  <% end %>
  <% if block.video %>
    <%= link_to 'Edit', edit_case_video_path(block.case, block.video) %> |
  <% end %>
    
  <%= link_to 'Delete', block, 
               :confirm => 'Are you sure you want to remove this block?', 
               :method => :delete %>
  </div>
  
  <% if block.html_detail %>  
    <%= block.html_detail.contents.to_s.html_safe %>
  <% end %>
  <% if block.picture %>
    <%= block.picture.title %><br/>
    <img src="<%= url_for file_path('pictures', block.picture.path) %>"/>
  <% end %>
  <% if block.video %>
    <%= block.video.title %><br/>
    <img src="<%= url_for file_path('videos', block.video.path) %>"/>
  <% end %>
  
</div>
