
<%= render 'blocks/form_insert' %>

<div class="block block-wrapper <%= block.block_type %>-block"
     id="block-<%= block.id %>" 
     data-block_type="<%= block.block_type %>"
     data-block_id="<%= block.id %>">
        
  <div class="block-action-links">
  <% if block.html_detail %>        
    <span class="links-for-editable" style="display:none;">      
      <%= link_to 'Save',
          case_html_detail_path(block.case, block.html_detail),
          :class => 'link-save', :title => 'Click to save changes' %> |   
      <a class="link-cancel" href="#">Cancel</a>
    </span>    
    <span class="links-for-static">
      <%= render 'blocks/move_links', :block => block %>
      <%= case_author_only(block.case) do %>
      | <%= link_to 'Edit', 
        edit_case_html_detail_path(block.case, block.html_detail),
        :class => 'block-edit-ajax' %>
      <% end %>
    </span>    
  <% end %>
    
  <% if block.witness_statement %>
    <span class="links-for-editable" style="display:none;">      
      <%= link_to 'Save', 
          case_witness_statement_path(block.case, block.witness_statement),
          :class => 'link-save', :title => 'Click to save changes' %> |            
      <a class="link-cancel" href="#">Cancel</a>
    </span>
    
    <span class="links-for-static">
      <%= render 'blocks/move_links', :block => block %>
      <%= case_author_only(block.case) do %>
      | <%= link_to 'Edit', 
        edit_case_witness_statement_path(block.case, block.witness_statement),
        :class => 'block-edit-ajax' %>
      <% end %>
    </span>
  <% end %>
    
  <% if block.page_break %>    
    <span class="links-for-editable" style="display:none;">      
      <%= link_to 'Save', 
          case_page_break_path(block.case, block.page_break),
          :class => 'link-save', :title => 'Click to save changes' %> |            
      <a class="link-cancel" href="#">Cancel</a>
    </span>
    
    <span class="links-for-static">
      <%= render 'blocks/move_links', :block => block %>
      <%= case_author_only(block.case) do %>
      | <%= link_to 'Edit', 
        edit_case_page_break_path(block.case, block.page_break),
        :class => 'block-edit-ajax' %>
      <% end %>
    </span>
  <% end %>
    
  <% if block.data_log_detail %>
    <span class="links-for-editable" style="display:none;">      
      <%= link_to 'Save', 
          case_data_log_detail_path(block.case, block.data_log_detail),
          :class => 'link-save', :title => 'Click to save changes' %> |            
      <a class="link-cancel" href="#">Cancel</a>
    </span>
    
    <span class="links-for-static">
      <%= render 'blocks/move_links', :block => block %>
      <%= case_author_only(block.case) do %>
      | <%= link_to 'Edit', 
        edit_case_data_log_detail_path(block.case, block.data_log_detail),
        :class => 'block-edit-ajax' %>
      <% end %>
    </span>
  <% end %>
    
  <% if block.picture %>
    <%= render 'blocks/move_links', :block => block %>
    <%= case_author_only(block.case) do %>
    | <%= link_to 'Edit', edit_case_picture_path(block.case, block.picture) %>
    <% end %>
  <% end %>
  <% if block.video %>
    <%= link_to 'Download', file_video_path(block.video) %> 
    <%= case_author_only(block.case) do %>    
    |  
    <% end %>
    <%= render 'blocks/move_links', :block => block %>
    <%= case_author_only(block.case) do %>
      | <%= link_to 'Edit', edit_case_video_path(block.case, block.video) %>
    <% end %>
  <% end %>
    
  <%= case_author_only(block.case) do %>
  |
  <%= link_to 'Delete', block, 
               :confirm => 'Are you sure you want to remove this block?',
               :class  => 'remote-block-delete',
               :remote => true,
               :method => :delete %>
  <% end %>
    
  </div>
  
  <div class="block-editable-wrapper">
    <%= render 'blocks/editable', :block => block %>            
  </div>
  
</div>
