
<div class="block text" style="background-color:#efefef;padding:1em;margin:1em 0;">
        
  <div style="float:right;">
  <% if block.html_detail %>    
    <%= link_to 'Edit', edit_case_html_detail_path(block.case, block.html_detail) %> |
    <%= link_to 'Edit AJAX', 
        edit_case_html_detail_path(block.case, block.html_detail),
        :class => 'block-edit-ajax' %> |        
  <% end %>
  <% if block.picture %>
    <%= link_to 'Edit', edit_case_picture_path(block.case, block.picture) %> |
  <% end %>
  <% if block.video %>
    <%= link_to 'Download', file_path('videos', block.video.path) %> |  
    <%= link_to 'Edit', edit_case_video_path(block.case, block.video) %> |    
  <% end %>
    
  <%= link_to 'Delete', block, 
               :confirm => 'Are you sure you want to remove this block?', 
               :method => :delete %>
  </div>
    
  <%= render 'blocks/editable', :block => block %>            
  
</div>
