<div>  
  <h4 style="margin-bottom:1em;">
    <%= block.title %>
    <%= render 'blocks/meta', :block => block %>
  </h4>
  <% if block.html_detail %>    
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <div class="block-editable-html">
        <%= block.html_detail.contents.to_s.html_safe %>
      </div>
    </div>
  <% end %>
  <%= render 'blocks/editable_data_log', 
      :detail => block.data_log_detail if block.data_log_detail %>  
  <%= render 'blocks/editable_witness_statement', 
      :statement => block.witness_statement if block.witness_statement %>      
  <%= render 'blocks/editable_picture', 
      :picture => block.picture if block.picture %>    
  <% if block.video %>
    <%= block.video.title %><br/>    
    <%= render 'videos/jplayer', :video => block.video %>
  <% end %>
</div>
