<div>  
  <h4 style="margin-bottom:1em;"><%= block.title %></h4>
  <% if block.html_detail %>  
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <%= block.html_detail.contents.to_s.html_safe %>
    </div>
  <% end %>
  <% if block.picture %>
    <%= block.picture.title %><br/>
    <img src="<%= file_picture_path(block.picture) %>"
         width="<%= block.picture.width_for_display(840) %>"/>
  <% end %>
  <% if block.video %>
    <%= block.video.title %><br/>    
    <%= render 'videos/jplayer', :video => block.video %>
  <% end %>
</div>
