<div>  
  <h4 style="margin-bottom:1em;">
    <%= block.title %>
    <%= render 'blocks/meta', :block => block %>
  </h4>
  <% if block.html_detail %>  
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <%= block.html_detail.contents.to_s.html_safe %>
    </div>
  <% end %>
  <% if block.data_log_detail %>
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <div class="data-log-location">
          Location: 
        <div class="data-log-location-value">
          <%= block.data_log_detail.location %>
        </div>
      </div>        
      <div class="block-editable-html">
        <%= block.data_log_detail.contents.to_s.html_safe %>
      </div>
    </div>
  <% end %>
  <%= render 'blocks/editable_picture', 
      :picture => block.picture if block.picture %>    
  <% if block.video %>
    <%= block.video.title %><br/>    
    <%= render 'videos/jplayer', :video => block.video %>
  <% end %>
</div>
