<div>  
  <h4 style="margin-bottom:1em;">
    <%= block.title %>
    <%= render 'blocks/meta', :block => block %>
  </h4>
  <% if block.html_detail %>  
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <div class="block-editable-html">
        <%= block.html_detail.contents.to_s.html_safe %>
      </div>
    </div>
  <% end %>
  <% if block.data_log_detail %>
    <div class="block-editable" id="block-editable-<%= block.id %>">
      <div class="data-log-fields" style="margin-bottom: 5px;">
        <span class="data-log-day-value"><%= block.data_log_detail.day %></span>        
        <span class="data-log-hour-value"><%= block.data_log_detail.hour %></span>,
        <span class="data-log-location-value">
          <%= block.data_log_detail.location %>
        </span>
      </div>      
      <div class="block-editable-html">
        <%= block.data_log_detail.contents.to_s.html_safe %>
      </div>
    </div>
  <% end %>
  <%= render 'blocks/editable_picture', 
      :picture => block.picture if block.picture %>    
  <% if block.video %>
    <%= block.video.title %><br/>    
    <%= render 'videos/jplayer', :video => block.video %>
  <% end %>
</div>
