<% if block.html_detail %>
  <p>
  <%= block.html_detail.contents.to_s.html_safe %>  
  </p>
<% end %>

<% if block.picture %>
  <div class="picture-block"
       style="<%= picture_dynamic_style(block.picture) %>">
    <img src="<%= file_picture_path block.picture %>"
         title="<%= block.picture.title %>"
         width="<%= block.picture.width_for_display(1024) %>"/>
    <h4><%= block.picture.title %></h4>
  </div>
<% end %>

<% if block.video %>
  <div class="video-block"
       style="<%= video_dynamic_style(block.video) %>">       
    <%= render 'videos/jplayer', :video => block.video %>
  </div>
<% end %>
