<% if block.html_detail %>
  <div style="<%= text_block_dynamic_style(block.html_detail) %>">
  <%= block.html_detail.contents.to_s.html_safe %>  
  </div>
<% end %>

<% if block.data_log_detail %>
  <%= render 'data_log_details/preview', :detail => block.data_log_detail %>  
<% end %>

<% if block.witness_statement %>
  <%= render 'witness_statements/preview', :statement => block.witness_statement %>  
<% end %>
  
<% if block.picture %>
  <div class="picture-block"
       style="<%= picture_dynamic_style(block.picture) %>">
    <img src="<%= file_picture_path block.picture %>"
         title="<%= block.picture.title %>"
         width="<%= block.picture.width_for_preview() %>"/>
    <h4><%= block.picture.title %></h4>
  </div>
<% end %>

<% if block.video %>
  <div class="video-block"
       style="<%= video_dynamic_style(block.video) %>">       
    <%= render 'videos/jplayer', :video => block.video %>
  </div>
<% end %>
