
<%= render 'shared/form_errors', :errors => @detail.errors %>    

<%= form_for [@case, @detail], :remote => remote do |f| %>

<input type="hidden" name="insert_before_id" 
       value="<%= @insert_before_id %>"/>

<div class="field" style="height:240px;">  
  <%= f.text_area :contents, :rows => 13, :class => :rich %>
</div>

<div class="actions no-margin">
  <%= f.submit 'Save', :class => :button %>  
  <%= link_to 'Cancel', @case, :class => 'link-cancel' %>  
</div>

<% end %>

<%= render 'shared/tinymce' %>
