
<div id="appletContainer" style="display:none;height:60px;"></div>

<script type="text/javascript">
  
    $(function() {      
      
      function normalizeDate(s)
      {
        s = ('' + s).replace(/[^0-9]/g, '');
        return s;
      }
      
      var picture_id = <%= @picture.id.to_i %>;
      var url_base_redirect = '<%= case_pictures_path(@case) %>';
      var url_check = '<%= case_picture_path(@case, @picture.unique_code, :js) %>';
      var updated_at = normalizeDate('<%= @picture.updated_at %>');
      var settings = {
        cache: false,
        dataType: 'json',
        success: function(data) {
          if (data && (normalizeDate(data.updated_at) != updated_at)) {
            
            var url_redirect = url_base_redirect + '/' + data.id + '/edit';
            location.href = url_redirect;            
          } else {
            setTimeout(checkImage, 2000);
          }
        }
      };
      
      function checkImage()
      {
        $.ajax(url_check, settings);
      }
      
      $('#btn-screen-capture').click(function() {
        
        $('#accept-java').show();
        var javaVersion = SHERLOCK.utils.detectJava();
        
        var versionString = javaVersion.join('.');                                
        var msg = 'Detected ' + versionString;
        var color = 'green';
        
        var found = (javaVersion[0] >= 1);
        var correctFound = found && (javaVersion[1] >= 6);
        
        if (!correctFound) {
          color = 'red';
          if (!found) {
            msg = 'Java not found';
          }
        }
        
        $('#java-version-result').css({
          'margin-top': '0px' ,
          'color': color
        }).html(msg);
        
        if (!correctFound) {
          if (found) {
            $('#java-install .install').remove();
          } else {
            $('#java-install .upgrade').remove();
          }
          $('#java-install').show();
          return;
        }
        
        $('#java-applet-launching').show();
        
        var container = $('#appletContainer');
        container.empty();
        {
          <% if @picture.id %>
          var post_url = '<%= case_picture_url(@case, @picture) %>';
          <% else %>
          var post_url = '<%= case_pictures_url(@case) %>';
          <% end %>
          var token = $('meta[name=csrf-token]').attr('content');
          var code = '<applet archive="<%= root_url %>SherlockScreen.jar?v=' + new Date().valueOf() + '" ' +
            'code="sherlockscreen.SherlockScreen.class" ' +
            'width="1" height="1" MAYSCRIPT>' +        
            '<param name="type" value="picture"/>' +
            '<param name="token" value="' + token + '"/>' +
            '<param name="unique_code" value="<%= @picture.unique_code %>"/>' +
            '<param name="cookie" value="<%= @cookie %>"/>' +            
            '<param name="insert_before_id" value="<%= @insert_before_id %>"/>' +
            '<param name="post_url" value="' + post_url + '"/>'+            
            '<param name="editor_url" value="<%= root_url %>SherlockEditor.jar"/>'+            
            '<param name="picture_id" value="<%= @picture.id.to_i %>"/>' +
            '</applet>';      
          container.html(code);        
          container.show();
          
          checkImage();
          
         }
      });      
    });        
</script>
