
<div id="appletContainer" style="display:none;height:60px;"></div>

<script type="text/javascript">      
    $(function() {            
      var data = {
        picture_id : <%= @picture.id.to_i %>,
        updated_at : '<%= @picture.updated_at %>',
        unique_code: '<%=  @picture.unique_code %>',
        cookie: '<%= @cookie %>',
        insert_before_id: '<%= @insert_before_id %>',
        urls : {
          root : '<%= root_url %>',
          base_redirect: '<%= case_pictures_path(@case) %>',
          check: '<%= case_picture_path(@case, @picture.unique_code, :js) %>',
          post: '<%= @picture.id ? case_picture_url(@case, @picture) : case_pictures_url(@case) %>'
        }
      }            
      SHERLOCK.pictures.initAppletContainer(data);                     
    });        
</script>
