
<%= render 'shared/form_errors', :errors => @picture.errors %>

<%= form_for([@case, @picture], 
    :html => { :enctype => 'multipart/form-data' }) do |f| %>

<input type="hidden" name="insert_before_id" 
       value="<%= @insert_before_id %>"/>

<div class="field">  
  <%= f.label :title, 'Title :' %>  
  <div class="boxfield">
    <%= f.text_field :title, :class => 'txtfield txtfield-wide', :size => 100 %>
  </div>
</div>

<div class="field">
  <%= f.label :alignment, 'Alignment :' %>  
  <div class="rich-dropdown-wrapper rich-dropdown-wrapper-x">
    <%= f.select :alignment, image_alignment_options %>
  </div>
</div>

<div class="field">
  <%= f.label :scaling, 'Scaling (report) :' %>  
  <div class="rich-dropdown-wrapper rich-dropdown-wrapper-x">
    <%= f.select :scaling, image_scaling_options %>
  </div>
</div>

  <%= f.hidden_field :unique_code unless @picture.id %>

  <% if @picture.id %>
    <div class="field-right" style="margin-bottom:1em;">
      <div style="margin: 1em 0 0 0;clear:both;padding-top: 1em;">    
        <img 
          id="picture-holder"
          style="border: 1px solid black;"
          width="<%= @picture.width_for_display(750) %>"
          src="<%= file_picture_path(@picture) %>"/>    
      </div>            
      
      <a href="#"
         id="btn-change-picture">Change the Picture</a>
                      
      <a href="#" 
         style="visibility:hidden;"
         id="link-keep-picture">Keep the picture</a>
      
      <input type="hidden" name="crop_new_block" value=""/>
         
      <input type="hidden" id="crop-x" name="crop[]"/>
      <input type="hidden" id="crop-y" name="crop[]"/>
      <input type="hidden" id="crop-w" name="crop[]"/>
      <input type="hidden" id="crop-h" name="crop[]"/>             
      
      <%= stylesheet_link_tag root_path + 'stylesheets/jquery.jcrop.min.css' %>      
      <%= javascript_include_tag root_path + 'javascript/jquery.jcrop.min.js' %>
      
      <script type="text/javascript">      
      $(function() {
        SHERLOCK.pictures.initForm();
      });        
      </script>         
    </div>
    <div id="image-field-wrapper" style="display:none;">
  <% end %>

    <div class="field" style="margin-bottom:5px;">
      <label for="upload_image">Select Image :</label>      
      <span class="btn2 fileinput-button">
      <%= file_field 'upload', 'image', 
          :title => 'Select image file to be uploaded' %>                      
          <span>Browse...</span>
      </span>
      <strong>OR &nbsp;&nbsp;</strong>        
        <button id="btn-screen-capture"                
                type="button" class="button2 button2-wide btn-picture-capture">
          <div>
            Screen Capture
          </div>
        </button>
          
    </div>
      
    <%= render 'shared/java_detect', 
        :func_name => 'screen capture', :app_name => 'Frame capture launched' %>   
      
  <% if @picture.id %>
    </div>
  <% end %>
      
<div class="actions" style="padding-top:0em;">
  <%= f.submit 'Save', :class => :button %>
  <% if @picture.id %>
    <%= link_to 'Cancel', @case %>
  <% end %>  
</div>

<% end %>
