
<h2>Case title: <%= @case.title %></h2>

<%= render 'shared/form_errors', :errors => @picture.errors %>

<%= form_for([@case, @picture], 
    :html => { :enctype => 'multipart/form-data' }) do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title, :size => 100 %>
</div>

<% if @picture.id %>
  <div style="margin: 1em 0;">    
    <img 
      style="border: 1px solid black;"
      src="<%= url_for file_path('pictures', @picture.path) %>"/>    
  </div>
  <input type="button" 
         value="Change the Picture"
         onclick="$('#image-field-wrapper').show();"/>
  <div id="image-field-wrapper" style="display:none;">
<% end %>

  <div>
    <label for="upload_image">Select Image:</label>
    <%= file_field 'upload', 'image' %>        
  </div>
<% if @picture.id %>
  </div>
<% end %>
    
<div class="actions">
  <%= f.submit 'Save' %>
</div>

<% end %>