<div class="breadcrumb">
  <%= link_to 'Dashboard', dashboard_path %> /
  <%= link_to 'My Cases', cases_path %> / 
  <%= link_to @case.title, @case %> /
  Edit Picture Block
</div>

<h1>Edit Picture Block</h1>

<%= render 'form' %>
<%= render 'applet_container' %>

<script type="text/javascript">
  $(function() {
    $('#picture_title').focus();
  });
</script>