<h1>Clients</h1>

<div style="text-align:right;">
  <%= link_to 'See Investigators', dashboard_users_path %>
</div>

<table style="margin-bottom:0;width:100%;">  
  <thead>    
    <tr>
      <th rowspan="2" style="width:250px;">Email</th>
      <th colspan="2">Sign On</th>      
      <th rowspan="2" style="width:135px;">Created</th>      
      <th rowspan="2" style="width:55px;"># Cases</th>
      <th rowspan="2">Convert</th>
    </tr>
    <tr>
      <th style="width:25px;">#</th>
      <th style="width:135px;">Last</th>            
    </tr>       
  </thead>  
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, dashboard_user_path(user) %></td>
        <td class="c"><%= user.sign_in_count %></td>
        <td class="c"><%= format_date(user.current_sign_in_at) %></td>
        <td class="c"><%= format_date(user.created_at) %></td>
        <td class="c"><%= user.viewable_cases.count %></td>
        <td class="c"><%= link_to 'Convert to PI', 
                          new_dashboard_client_conversion_path +
                          "?client_id=#{user.id}" %>
                          </td>
      </tr>
    <% end %>
  </tbody>
  
</table>
