
<div class="form-letterhead form-center">

<%= form_for(@letterhead) do |f| %>
  <% if @letterhead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letterhead.errors.count, "error") %> prohibited this letterhead from being saved:</h2>

      <ul>
      <% @letterhead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    
    <div class="heading">
      <div class="head-bg-left"></div>
      <div class="head-bg">Set Your Page Default</div>
      <div class="head-bg-right"></div>
    </div>
    
    <div class="box-cont">
      
      <div style="margin: 22px 32px 15px;">
      
      <div class="box-line">
        <%= f.radio_button(:all_pages, true) %>
        <%= f.label :all_pages_true, 'Set all pages to have this Header', 
                    :class => :inline %>
      </div>
      <div class="box-line">
        <%= f.radio_button(:all_pages, false) %>
        <%= f.label :all_pages_false, 'Set first page Only to have Header', 
                    :class => :inline %>    
      </div>
      
      <div class="box-line" style="margin:0.5em 0;">
        <%= f.check_box :link %>
        <%= f.label :link, 'Make Header a link?', :class => :inline %>    
      </div>
      
      <div class="box-line alignment">
        
        <strong>Align</strong> this Header on your pages:
        
        <%= f.radio_button(:alignment, 'left') %>
        <%= f.label :alignment_left, 'Left', :class => :inline %>
        
        <%= f.radio_button(:alignment, 'center') %>
        <%= f.label :alignment_center, 'Centered', :class => :inline %>
        
        <%= f.radio_button(:alignment, 'right') %>
        <%= f.label :alignment_right, 'Right', :class => :inline %>
                        
      </div>
        
      </div>
    </div>  
    <div class="box-bot"></div>  
  </div>
  
  <div class="box">
    
    <div class="heading">
      <div class="head-bg-left"></div>
      <div class="head-bg">Build Your Header</div>
      <div class="head-bg-right"></div>
    </div>
    
    <div class="box-cont">
      
      <div class="set-one">            
        <div class="leftbox">Background</div>
        <div class="rightbox">            
          <div class="left">            
            <label class="inline">Color</label>            
          </div>
          <div class="color-wrapper">
            <%= f.text_field :bgcolor, :class => :simple_color %>            
          </div>
        </div>        
      </div>
      
      <div class="set-two">
        <div class="leftbox">Border</div>
        <div class="rightbox">
          <%= f.check_box :border %>
          <%= f.label :border, 'Yes', :class => :inline %>          
        </div>
      </div>
      
      <div class="set-one">
        <div class="leftbox">Typeface</div>        
          <div class="rightbox">
              <div class="line">
                <div class="lineleft">Font</div>
                <div class="styled-select1">                  
                  <%= f.select :font_size, font_size_options, 
                      :class => :listtxt %>                                    
                </div>
              </div>
              <div class="line">
                <div class="lineleft">Size </div>
                <div class="styled-select2">
                  <%= f.select :font_size, font_size_options, :class => :listtxt2 %>
                </div>
              </div>
              <div class="linelast">
                <div class="lineleft"> Color </div>
                <div class="lineright">
                  <%= f.text_field :font_color, :class => :simpler_color %>                  
                </div>
              </div>
            </div>        
      </div>
      
      <div class="set-two">
            <div class="leftbox">Divider Above?</div>
            <div class="rightbox">

              <div class="line">
                <div class="lineleft1">
                  <%= f.check_box :divider %>
                  &nbsp;Yes                  
                  <div class="right" style="margin-right:5px;">
                    <%= f.label :divider_size, 'Size', :class => :inline %>
                  </div>
                </div>
                <div class="styled-select3">                  
                  <%= f.select :divider_size, divider_size_options, 
                      :class => :listtxt2 %>                  
                </div>
                <div class="lineleft4">Width</div>
                <div class="styled-select3">
                  <%= f.select :divider_width, divider_width_options, 
                      :class => :listtxt2 %>
                </div>
              </div>
              <div class="linelast">
                <div class="lineleft"> Color </div>
                <div class="lineright">
                  <%= f.text_field :divider_color, :class => :simple_color %>                  
                </div>
              </div>

            </div>
        </div>
      
      <div class="set-one">
        <div class="leftbox">Header Text</div>
        <div class="rightbox">
          <div class="line">
            <%= f.text_area :contents, :class => :areatxt %>            
          </div>

          <div class="linelast">
            <div class="lineleft2">Align Text </div>
            <div class="styled-select2">
              <%= f.select :text_align, text_align_options, :class => :listtxt2 %>              
            </div>
          </div>
        </div>
      </div>
      
      <div class="set-two">
            <div class="leftbox">Logo</div>
            <div class="rightbox">

              <!--
              <div class="line">
                <div class="lineleft2">Choose Graphics </div>
                <div class="styled-select1">
                  <select class="listtxt" name="">
                    <option>None</option>
                    <option>Option 1</option>
                    <option>Option 2</option>

                    <option>Option 3</option>
                  </select>
                </div>
              </div>
              -->
              <div class="line">
                <div class="lineleft2">Alignment </div>
                <div class="styled-select1">
                  <%= f.select :logo_alignment, logo_align_options, 
                               :class => :listtxt %>                  
                </div>
              </div>

              <div class="linelast">
                <div class="lineleft3">
                  <div class="lineleft-txt">Upload an image</div>
                  <div class="lineleft-txt1">For best results upload a 900 x 630 JPG or PNG.</div>
                  <div class="lineleft-txt2">                    
                    <div class="textfield1" style="float:left;">
                      <input class="txtfield" name="" type="text" />
                    </div>
                    <div class="btn" style="float:right;">
                      <a href="#" class="button">Browse</a>
                    </div>                   
                  </div>
                </div>
                <div class="rightbox2">
                  <%= image_tag 'letterhead_img.jpg' %>                  
                </div>
              </div>
            </div>
          </div>        
      
    </div>
    <div class="clear box-bot"></div>    
  </div>
  
  <div class="box">
  <!--
  
  <div class="field">
    <%= f.label :alignment %><br />
    <%= f.text_field :alignment %>
  </div>
  <div class="field">
    <%= f.label :bgcolor %><br />
    <%= f.text_field :bgcolor %>
  </div>
  <div class="field">
    <%= f.label :border %><br />
    <%= f.check_box :border %>
  </div>
  <div class="field">
    <%= f.label :font_face %><br />
    <%= f.text_field :font_face %>
  </div>
  <div class="field">
    <%= f.label :font_size %><br />
    <%= f.number_field :font_size %>
  </div>
  <div class="field">
    <%= f.label :font_color %><br />
    <%= f.text_field :font_color %>
  </div>
  <div class="field">
    <%= f.label :divider %><br />
    <%= f.check_box :divider %>
  </div>
  <div class="field">
    <%= f.label :divider_size %><br />
    <%= f.number_field :divider_size %>
  </div>
  <div class="field">
    <%= f.label :divider_width %><br />
    <%= f.number_field :divider_width %>
  </div>
  <div class="field">
    <%= f.label :divider_color %><br />
    <%= f.text_field :divider_color %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_area :contents %>
  </div>
  <div class="field">
    <%= f.label :logo_path %><br />
    <%= f.text_field :logo_path %>
  </div>
  <div class="field">
    <%= f.label :logo_alignment %><br />
    <%= f.text_field :logo_alignment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  -->
  
  </div>
  
    <div class="actions no-margin">
      <%= f.submit 'Save', :class => :button %>
    </div>
        
<% end %>      
  
</div>

<script type="text/javascript">
  $('.simple_color').simpleColor({
			cellWidth: 9,
			cellHeight: 9,
			border: '1px solid #333333',
			buttonClass: 'btn-color'
	});
	
	$('input#alert_button').click( function() {
		alert($('input.simple_color')[0].value)
	});
</script>