
<% if letterhead.is_link %>
  <a href="<%= letterhead.link %>"
     title="<%= letterhead.link %>">
<% end %>
  <div class="logo-wrapper" 
       style="<%= letterhead_logo_wrapper_style(letterhead) %>">  
    <img src="<%= file_logo_path(letterhead.logo) %>"
         height="<%= letterhead.logo.height_for_display(80) %>"/>        
  </div>
<% if letterhead.is_link %>
  </a>
<% end %>

  