<div id="header">
  
  <%= render 'letterheads/logo', 
      :letterhead => @letterhead, :kase => kase if @letterhead.logo %>
  
  <div style="<%= letterhead_style(@letterhead) %>">    
    <% if @letterhead.is_link %>
      <a href="<%= @letterhead.link %>"
         title="<%= @letterhead.link %>"
         style="color:<%= @letterhead.font_color %>;">
    <% end %>
      <%= @letterhead.contents.gsub(/(\r\n)|(\r)|(\n)/, '<br/>').html_safe %>            
    <% if @letterhead.is_link %>    
      </a>
    <% end %>
  </div>
  
  <% if @letterhead.divider_above %>  
    <hr style="height:<%= @letterhead.divider_size %>px;
               background-color:<%= @letterhead.divider_color %>;
               width:<%= @letterhead.divider_width %>%;
               margin:auto;"/>
  <% end %>
</div>


