<h1>Listing letterheads</h1>

<table>
  <tr>
    <th>All pages</th>
    <th>Link</th>
    <th>Alignment</th>
    <th>Bgcolor</th>
    <th>Border</th>
    <th>Font face</th>
    <th>Font size</th>
    <th>Font color</th>
    <th>Divider</th>
    <th>Divider size</th>
    <th>Divider width</th>
    <th>Divider color</th>
    <th>Contents</th>
    <th>Logo path</th>
    <th>Logo alignment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letterheads.each do |letterhead| %>
  <tr>
    <td><%= letterhead.all_pages %></td>
    <td><%= letterhead.link %></td>
    <td><%= letterhead.alignment %></td>
    <td><%= letterhead.bgcolor %></td>
    <td><%= letterhead.border %></td>
    <td><%= letterhead.font_face %></td>
    <td><%= letterhead.font_size %></td>
    <td><%= letterhead.font_color %></td>
    <td><%= letterhead.divider %></td>
    <td><%= letterhead.divider_size %></td>
    <td><%= letterhead.divider_width %></td>
    <td><%= letterhead.divider_color %></td>
    <td><%= letterhead.contents %></td>
    <td><%= letterhead.logo_path %></td>
    <td><%= letterhead.logo_alignment %></td>
    <td><%= link_to 'Show', letterhead %></td>
    <td><%= link_to 'Edit', edit_letterhead_path(letterhead) %></td>
    <td><%= link_to 'Destroy', letterhead, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letterhead', new_letterhead_path %>
