<p id="notice"><%= notice %></p>

<p>
  <b>All pages:</b>
  <%= @letterhead.all_pages %>
</p>

<p>
  <b>Link:</b>
  <%= @letterhead.link %>
</p>

<p>
  <b>Alignment:</b>
  <%= @letterhead.alignment %>
</p>

<p>
  <b>Bgcolor:</b>
  <%= @letterhead.bgcolor %>
</p>

<p>
  <b>Border:</b>
  <%= @letterhead.border %>
</p>

<p>
  <b>Font face:</b>
  <%= @letterhead.font_face %>
</p>

<p>
  <b>Font size:</b>
  <%= @letterhead.font_size %>
</p>

<p>
  <b>Font color:</b>
  <%= @letterhead.font_color %>
</p>

<p>
  <b>Divider:</b>
  <%= @letterhead.divider %>
</p>

<p>
  <b>Divider size:</b>
  <%= @letterhead.divider_size %>
</p>

<p>
  <b>Divider width:</b>
  <%= @letterhead.divider_width %>
</p>

<p>
  <b>Divider color:</b>
  <%= @letterhead.divider_color %>
</p>

<p>
  <b>Contents:</b>
  <%= @letterhead.contents %>
</p>

<p>
  <b>Logo path:</b>
  <%= @letterhead.logo_path %>
</p>

<p>
  <b>Logo alignment:</b>
  <%= @letterhead.logo_alignment %>
</p>


<%= link_to 'Edit', edit_letterhead_path(@letterhead) %> |
<%= link_to 'Back', letterheads_path %>
