<ul>
  <li class="reports">
    <% if plan.cases_max.to_i == 0 %>
      <strong>No</strong>
      <span class="item">reports included</span>
    <% else %>    
      <strong><%= plan.cases_max %></strong>
      <span class="item">reports/month</span>
    <% end %>
    <% if plan.reports_to_consider_upgrade.to_i > 0 %>
      <em><%= plan.reports_to_consider_upgrade %> reports to consider upgrade</em>
    <% end %>
  </li>
  <li>
    <strong>$<%= plan.extra_case_price %></strong>
    <span class="item">per additional report</span>
  </li>
  <li>
    <strong><%= plan.storage_in_gb %>GB</strong>
    <span class="item">storage</span>
  </li>
  <li>
    <strong><%= clients_number(plan) %></strong>
    <span class="item">clients, users and <br />PDF report uploads</span>
  </li>
  <li class="border0">
    <a rel="nofollow" href="<%= url %>" 
       class="small_button small_button_brown"><span>Choose</span></a>
  </li>
</ul>