<!DOCTYPE html>
<html>
<head>
  <title>Sherlock</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="container">
    <%= render 'shared/flash', :flash => flash %>
  </div>  
  <div class="container main-top"></div>
  <div class="container mainwrapper">    
    <div class="inner">
      <%= render 'shared/company_name' %>
      <%= image_tag 'logo.png' %>
      <%= render 'shared/top_user_links' %>
      <%= yield %>    
    </div>
  </div>
  <div class="container main-bottom"></div>
</body>
</html>
