<!DOCTYPE html>
<html>
<head>
  <title>Reports Made - SherlockDocs</title>
  <%= stylesheet_link_tag "application" %>    
  
  <link rel="stylesheet" 
        href="//jquery-ui.googlecode.com/svn/trunk/themes/base/jquery.ui.all.css"></link>  

  <%= javascript_include_tag "application" %>
      
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">  
    
  <img src='/assets/loading_32_140.gif' style="display:none;"/>  
  
  <div class="container container-upper" style="position:relative;">    
    <%= render('shared/flash', :flash => flash) %>
  </div>  
  <div class="container main-top"></div>
  <div class="container mainwrapper">    
    <div class="inner">
      <%= render 'shared/top_user_links' %>
      <%= render 'shared/company_name' %>
      <a title="SherlockDocs Home" 
         href="<%= url_for root_path %>"><%= 
         image_tag 'logo.png', :size => '212x198' %></a>            
      <%= yield %>    
    </div>
  </div>
  <div class="container main-bottom"></div>
      
  <script type="text/javascript">
    $('select.rich-dropdown').msDropDown();
  </script>
  
</body>
</html>
